/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Single Post
--------------------------------------------------------------*/
.single.hide-nav-links .post-navigation {
  display: none;
}

.kmt-separate-container .kmt-related {
  padding: 100px;
  margin-bottom: 2em;
}

.kmt-related-title {
  margin-bottom: 20px;
}

.kmt-related-posts {
  position: relative;
}

.kmt-related-posts .owl-item {
  width: 200px;
}

.kmt-related-posts .related-post-title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  overflow-wrap: break-word;
  width: 100%;
  flex: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.kmt-related-posts .related-post-title a {
  word-break: break-word;
  width: 100%;
  padding: 0 10px;
}

.kmt-related-posts .related-post {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.kmt-related-posts .related-post > a {
  width: 100%;
  max-width: 253px;
  margin: 0 auto;
  position: relative;
}

.kmt-related-posts .related-post > a img {
  height: 100%;
}

.kmt-related-posts a {
  display: block;
}

.kmt-related-posts .default-image {
  width: 100%;
}

.kmt-related-posts .default-image:before {
  font-family: dashicons;
  content: "\f109";
  line-height: 60px;
  width: 60px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
.kmt-author-box-info {
  border-top: 1px solid;
  padding: 25px 0;
  margin-top: 2em;
}

.kmt-author-box-info .kmt-author-info {
  display: flex;
  align-items: center;
}

.kmt-author-box-info .kmt-author-info .author-information {
  margin-left: 15px;
}

.kmt-author-box-info .kmt-author-info p {
  margin-bottom: 0;
}

.kmt-author-box-info .kmt-author-avatar img {
  border-radius: 50%;
}

.kmt-separate-container .kmt-author-box-info {
  border-top: 0;
  padding: 4em 6.67em;
}

@media (min-width: 545px) {
  .single.kmt-page-builder-template .kmt-author-box-info {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
}
