/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Single Post
--------------------------------------------------------------*/
.single.hide-nav-links .post-navigation {
  display: none;
}

.kmt-separate-container .kmt-author-box {
  background-color: #ffffff;
}

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
.kmt-archive-description {
  padding-top: 1.3333em;
  border-top: 1px solid #eee;
}

.kmt-author-bio {
  text-align: right;
}
