.kmt-author-box-info{
    border-top: 1px solid;
    padding: 25px 0;
    margin-top: 2em;
    .kmt-author-info{
        display: flex;
        align-items: center;
        .author-information{
            margin-left: 15px;
        }
        p{
            margin-bottom: 0;
        }
    }
    .kmt-author-avatar{
        img{
            border-radius: 50%;
        }
    }
}
.kmt-separate-container{
    .kmt-author-box-info{
        border-top: 0;
        padding: 4em 6.67em;
    }
}

@media (min-width: 545px){
.single{
    &.kmt-page-builder-template{
            .kmt-author-box-info{
                max-width: 1180px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}