.single{
    &.hide-nav-links{
        .post-navigation{
            display: none;
        }
    }
}
.kmt-related-title{
    margin-bottom: 20px;
}
.kmt-related-posts{
    .related-post-title{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        overflow-wrap: break-word;
    }
}