/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header 5
--------------------------------------------------------------*/
.logo-menu-icon .site-branding {
  float: left;
}

.menu-icon-social {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-icon-social .menu-icon {
  padding: 5px;
  height: 56px;
  float: right;
  width: 56px;
  text-align: center;
  line-height: initial;
}

.menu-icon-social .social-icons {
  display: inline-block;
}

.header-main-layout-5 .site-branding {
  margin-top: 20px;
  margin-bottom: 20px;
}

.open .icon-bars-btn {
  top: 8px;
}

.icon-bars-btn {
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 5px;
}

.icon-bars-btn span {
  background-color: #4a4a4a;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
  transition-duration: 500ms;
}

.kemet-top-header-section-wrap .kmt-col-md-6 {
  min-height: 0px;
}

.icon-bars-btn span:nth-child(1) {
  top: 8px;
  left: 0px;
}

.icon-bars-btn span:nth-child(2) {
  top: 16px;
  left: 0px;
  opacity: 1;
}

.icon-bars-btn span:nth-child(3) {
  top: 23px;
  left: 0px;
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.menu-icon.open .icon-bars-btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.menu-icon.open .icon-bars-btn span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .icon-bars-btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.header-main-layout-5 .kmt-navbar-collapse {
  display: none;
  width: 100%;
  position: relative;
}

.header-main-layout-5 .main-navigation {
  display: block;
}

.header-main-layout-5 .main-header-menu {
  display: flex;
  flex-wrap: nowrap;
}

.header-main-layout-5 .main-header-menu li {
  flex-grow: 1;
  text-align: center;
}

.header-main-layout-5 .main-header-bar {
  border: none !important;
}

.header-main-layout-5 .main-header-container {
  position: relative;
  width: 100%;
  border-style: solid;
}

.header-main-layout-5.kmt-header-transparent {
  position: relative;
}

.header-main-layout-5.kmt-header-transparent .main-header-container {
  position: absolute;
}

.header-main-layout-5 .main-header-menu ul.sub-menu {
  width: 100%;
}

/*--------------------------------------------------------------
## Header 6
--------------------------------------------------------------*/
.admin-bar.header-main-layout-6 .main-header-bar-wrap {
  margin-top: 33px;
}

.header-main-layout-6 .main-header-bar-wrap {
  width: 300px;
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100%;
  border-bottom: none;
  z-index: 100;
  left: 0px;
}

.header-main-layout-6 .kmt-site-identity {
  padding: 100px 0px;
}

.header-main-layout-6 #site-navigation {
  display: block;
}

.header-main-layout-6 #site-navigation li {
  width: 100%;
  display: block;
  float: none;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-main-layout-6 #site-navigation li:last-child {
  border-bottom: 0px;
}

.header-main-layout-6 #site-navigation .sub-menu {
  display: none;
  position: relative;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-main-layout-6 .main-header-container {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header-main-layout-6 .main-navigation,
.header-main-layout-6 .kmt-main-header-bar-alignment {
  width: 100%;
  text-align: center;
}

.header-main-layout-6 .kmt-menu-toggle {
  display: inline-block;
  position: absolute;
  font-size: inherit;
  top: -1px;
  right: 20px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 .907em;
  font-weight: 400;
  line-height: inherit;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header-main-layout-6 .kmt-menu-toggle::before {
  font-weight: 700;
  content: "\e900";
  font-family: Kemet-font;
  text-decoration: inherit;
  display: inline-block;
}

.header-main-layout-6 .kmt-submenu-expanded > .kmt-menu-toggle::before {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
