/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Header
--------------------------------------------------------------*/
.top-navigation {
  background-color: #111 !important;
  display: flex;
  align-items: center;
  line-height: 2;
}

.top-navigation .nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.top-navigation .nav-menu .sub-menu {
  min-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: -999em;
  left: -999em;
}

.top-navigation .nav-menu .sub-menu li {
  display: inline-block;
  position: relative;
  text-align: left;
}

.top-navigation .nav-menu .sub-menu li li {
  display: block;
}

.top-navigation .nav-menu li.focus > .sub-menu,
.top-navigation .nav-menu li:hover > .sub-menu {
  top: auto;
  left: auto;
}

.top-navigation .nav-menu li li.focus > .sub-menu,
.top-navigation .nav-menu li li.hover > .sub-menu {
  left: 100%;
  top: 0;
}

.top-navigation .nav-menu a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 0 1em;
}

.top-navigation .nav-menu .menu-item-has-children > a::after {
  content: "\e900";
  display: inline-block;
  font-family: Kemet-font;
  font-size: 9px;
  font-size: 1rem;
  font-weight: 700;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  vertical-align: middle;
  line-height: normal;
}

/*--------------------------------------------------------------
## Header 5
--------------------------------------------------------------*/
.logo-menu-icon .site-branding {
  float: left;
}

.menu-icon-social {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-icon-social .menu-icon {
  padding: 5px;
  height: 56px;
  float: right;
  width: 56px;
  text-align: center;
  line-height: initial;
}

.menu-icon-social .social-icons {
  display: inline-block;
}

.header-main-layout-5 .site-branding {
  margin-top: 20px;
  margin-bottom: 20px;
}

.open .icon-bars-btn {
  top: 8px;
}

.icon-bars-btn {
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 5px;
}

.icon-bars-btn span {
  background-color: #4a4a4a;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
  transition-duration: 500ms;
}

.kemet-top-header-section-wrap .kmt-col-md-6 {
  min-height: 0px;
}

.icon-bars-btn span:nth-child(1) {
  top: 8px;
  left: 0px;
}

.icon-bars-btn span:nth-child(2) {
  top: 16px;
  left: 0px;
  opacity: 1;
}

.icon-bars-btn span:nth-child(3) {
  top: 23px;
  left: 0px;
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.menu-icon.open .icon-bars-btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.menu-icon.open .icon-bars-btn span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .icon-bars-btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.header-main-layout-5 .kmt-navbar-collapse {
  display: none;
  width: 100%;
  position: relative;
}

.header-main-layout-5 .main-navigation {
  display: block;
}

.header-main-layout-5 .main-header-menu {
  display: flex;
  flex-wrap: nowrap;
}

.header-main-layout-5 .main-header-menu li {
  flex-grow: 1;
  text-align: center;
}

.header-main-layout-5 .main-header-bar {
  border: none !important;
}

.header-main-layout-5 .main-header-container {
  position: relative;
  width: 100%;
  border-style: solid;
}

.header-main-layout-5.kmt-header-transparent {
  position: relative;
}

.header-main-layout-5.kmt-header-transparent .main-header-container {
  position: absolute;
}

.header-main-layout-5 .main-header-menu ul.sub-menu {
  width: 100%;
}
