/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Header
--------------------------------------------------------------*/
.top-navigation {
  background-color: #111 !important;
  display: flex;
  align-items: center;
  line-height: 2;
}

.top-navigation .nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.top-navigation .nav-menu .sub-menu {
  min-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: -999em;
  left: -999em;
}

.top-navigation .nav-menu .sub-menu li {
  display: inline-block;
  position: relative;
  text-align: left;
}

.top-navigation .nav-menu .sub-menu li li {
  display: block;
}

.top-navigation .nav-menu li.focus > .sub-menu,
.top-navigation .nav-menu li:hover > .sub-menu {
  top: auto;
  left: auto;
}

.top-navigation .nav-menu li li.focus > .sub-menu,
.top-navigation .nav-menu li li.hover > .sub-menu {
  left: 100%;
  top: 0;
}

.top-navigation .nav-menu a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 0 1em;
}

.top-navigation .nav-menu .menu-item-has-children > a::after {
  content: "\e900";
  display: inline-block;
  font-family: Kemet-font;
  font-size: 9px;
  font-size: 1rem;
  font-weight: 700;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  vertical-align: middle;
  line-height: normal;
}

/*--------------------------------------------------------------
## Header 5
--------------------------------------------------------------*/
