/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header 5
--------------------------------------------------------------*/
.logo-menu-icon .site-branding {
  float: left;
}

.menu-icon-social {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-icon-social .menu-icon {
  padding: 5px;
  height: 56px;
  float: right;
  width: 56px;
  text-align: center;
  line-height: initial;
}

.menu-icon-social .social-icons {
  display: inline-block;
}

.open .icon-bars-btn {
  top: 8px;
}

.icon-bars-btn {
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 5px;
}

.icon-bars-btn span {
  background-color: #4a4a4a;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
  transition-duration: 500ms;
}

.kemet-top-header-section-wrap .kmt-col-md-6 {
  min-height: 0px;
}

.icon-bars-btn span:nth-child(1) {
  top: 8px;
  left: 0px;
}

.icon-bars-btn span:nth-child(2) {
  top: 16px;
  left: 0px;
  opacity: 1;
}

.icon-bars-btn span:nth-child(3) {
  top: 23px;
  left: 0px;
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.menu-icon.open .icon-bars-btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.menu-icon.open .icon-bars-btn span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .icon-bars-btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.header-main-layout-5 .kmt-navbar-collapse {
  display: none;
  width: 100%;
  position: relative;
}

.header-main-layout-5 .main-navigation {
  display: block;
}

.header-main-layout-5 .main-header-menu {
  display: flex;
  flex-wrap: nowrap;
}

.header-main-layout-5 .main-header-menu li {
  flex-grow: 1;
  text-align: center;
}

.header-main-layout-5 .main-header-bar {
  border: none !important;
}

.header-main-layout-5 .main-header-container {
  position: relative;
  width: 100%;
  border-style: solid;
}

.header-main-layout-5.kmt-header-transparent {
  position: relative;
}

.header-main-layout-5.kmt-header-transparent .main-header-container {
  position: absolute;
}

.header-main-layout-5 .main-header-menu ul.sub-menu {
  width: 100%;
}

.kmt-header-break-point .header-main-layout-5 .kmt-navbar-collapse {
  display: block;
}

.kmt-header-break-point .header-main-layout-5 .main-header-menu {
  display: block;
}

.kmt-header-break-point .header-main-layout-5 .kmt-mobile-menu-buttons {
  align-items: center;
}

/*--------------------------------------------------------------
## Header 6
--------------------------------------------------------------*/
.admin-bar.header-main-layout-6 .main-header-bar-wrap {
  margin-top: 33px;
}

.ss-wrapper #site-navigation .menu-separator > .menu-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ss-wrapper #site-navigation .menu-separator > .menu-item:before {
  content: "";
  width: 0;
  height: 0;
}

.ss-wrapper .kmt-sitehead-custom-menu-items.separator:before, .ss-wrapper .kmt-sitehead-custom-menu-items.separator:after {
  content: "";
}

.header-main-layout-6.search-icon .ss-content {
  overflow-x: hidden;
}

.header-main-layout-6 .main-header-bar-navigation {
  width: 100%;
}

.header-main-layout-6 .main-header-bar-wrap {
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100%;
  border-bottom: none;
  z-index: 100;
}

.header-main-layout-6 .kmt-site-identity {
  padding: 60px 0px;
}

.header-main-layout-6 #site-navigation {
  display: block;
}

.header-main-layout-6 #site-navigation li {
  width: 100%;
  display: block;
  float: none;
  position: relative;
}

.header-main-layout-6 #site-navigation li:hover > .sub-menu {
  position: static;
}

.header-main-layout-6 #site-navigation li:hover > a:after {
  transform: rotateX(180deg) !important;
}

.header-main-layout-6 #site-navigation li ul li:hover > a:after {
  transform: rotateX(180deg) !important;
}

.header-main-layout-6 #site-navigation li ul li.menu-item-has-children {
  width: 80%;
  margin: auto;
}

.header-main-layout-6 #site-navigation li ul li.menu-item-has-children > a {
  position: static;
}

.header-main-layout-6 #site-navigation li ul li.menu-item-has-children > a:after {
  top: inherit;
  transform: translate(0, 0%);
}

.header-main-layout-6 #site-navigation li:last-child {
  border-bottom: 0px;
}

.header-main-layout-6 #site-navigation .sub-menu {
  width: 100%;
}

.header-main-layout-6 .kmt-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-6.has-box-shadow.header6-align-right .main-header-bar-wrap {
  box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-6.has-box-shadow.header6-align-left .main-header-bar-wrap {
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-6.header6-align-right .main-header-bar-wrap {
  right: 0;
}

.header-main-layout-6.header6-align-left .main-header-bar-wrap {
  left: 0;
}

.header-main-layout-6 .main-header-container {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header-main-layout-6 .main-navigation,
.header-main-layout-6 .kmt-main-header-bar-alignment {
  width: 100%;
  text-align: center;
}

.kmt-header-break-point.kemet-main-header6-align-left, .kmt-header-break-point.kemet-main-header6-align-right {
  padding: 0px;
}

.kmt-header-break-point .header-main-layout-6 .main-header-bar-wrap {
  width: 100%;
  border: 0px !important;
}

.kmt-header-break-point .kmt-sitehead-custom-menu-items .kmt-search-container {
  width: inherit;
}

.kmt-header-break-point .ss-wrapper {
  position: initial;
  margin: 0px;
  height: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) !important;
}

.kmt-header-break-point .main-header-container {
  display: flex !important;
}

.kmt-header-break-point .menu-icon-social {
  display: none !important;
}

.kmt-header-break-point .main-header-container {
  flex-direction: row;
  display: flex;
}

.kmt-header-break-point .kmt-site-identity {
  padding: 0;
}

.kmt-header-break-point .ss-content {
  width: 100%;
  overflow: hidden;
}

.kmt-header-break-point .site-branding {
  padding-left: 20px;
}

.kmt-header-break-point .kmt-mobile-menu-buttons {
  padding-right: 20px;
}

.search-icon.header-main-layout-8 .main-header-bar .kmt-sitehead-custom-menu-items .kmt-search-menu-icon {
  left: 30px;
}

.search-icon.header-main-layout-8 .main-header-bar .kmt-sitehead-custom-menu-items .kmt-dropdown-active {
  left: 0;
}

.search-icon.header-main-layout-6 .main-header-bar .kmt-sitehead-custom-menu-items .kmt-search-container {
  width: 250px;
}

.search-icon.header-main-layout-6 .main-header-bar .kmt-sitehead-custom-menu-items .kmt-search-menu-icon {
  left: 30px;
}

.search-icon.header-main-layout-6 .main-header-bar .kmt-sitehead-custom-menu-items .kmt-dropdown-active {
  left: 0px;
}

/*--------------------------------------------------------------
## Header 8
--------------------------------------------------------------*/
.admin-bar.header-main-layout-8 .main-header-bar-wrap {
  margin-top: 33px;
}

.header-main-layout-8 {
  position: relative;
}

.header-main-layout-8.has-box-shadow.header8-align-right .main-header-bar-wrap {
  box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-8.has-box-shadow.header8-align-left .main-header-bar-wrap {
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-8.header8-align-right .main-header-bar-wrap {
  right: 0;
}

.header-main-layout-8.header8-align-left .main-header-bar-wrap {
  left: 0;
}

.header-main-layout-8 .header-main-layout-8 .kmt-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-8 .main-header-bar-wrap {
  width: 60px;
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100%;
  border-bottom: none;
  z-index: 100;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main-layout-8 .main-header-bar-wrap.side-header {
  width: 300px !important;
}

.header-main-layout-8 .main-header-bar-wrap.side-header .main-header-container {
  opacity: 1;
  visibility: visible;
}

.header-main-layout-8 .kmt-site-identity {
  padding: 60px 0px;
}

.header-main-layout-8 .menu-icon-social {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-main-layout-8 .site-title {
  display: block;
}

.header-main-layout-8 .site-branding {
  text-align: center;
}

.header-main-layout-8 #site-navigation {
  display: block;
}

.header-main-layout-8 #site-navigation li {
  width: 100%;
  display: block;
  float: none;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-main-layout-8 #site-navigation li:hover > .sub-menu {
  position: static;
}

.header-main-layout-8 #site-navigation li:hover > a:after {
  transform: rotateX(180deg) !important;
}

.header-main-layout-8 #site-navigation li ul li:hover > a:after {
  transform: rotateX(180deg);
}

.header-main-layout-8 #site-navigation li ul li.menu-item-has-children {
  width: 80%;
  margin: auto;
}

.header-main-layout-8 #site-navigation li ul li.menu-item-has-children > a {
  position: static;
}

.header-main-layout-8 #site-navigation li ul li.menu-item-has-children > a:after {
  top: inherit;
  transform: translate(0, 0%);
}

.header-main-layout-8 #site-navigation li:last-child {
  border-bottom: 0px;
}

.header-main-layout-8 #site-navigation .sub-menu {
  width: 100%;
}

.header-main-layout-8 .kmt-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-8 .main-header-container {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main-layout-8 .henavigation,
.header-main-layout-8 .kmt-main-header-bar-alignment {
  width: 100%;
  text-align: center;
}

.kmt-header-break-point .header-main-layout-8 .main-header-container {
  display: flex !important;
}

.kmt-header-break-point .header-main-layout-8 .menu-icon-social {
  display: none !important;
}

.kmt-header-break-point .header-main-layout-8 .main-header-container {
  flex-direction: row;
  display: flex;
}

.kmt-header-break-point .header-main-layout-8 .kmt-site-identity {
  padding: 0;
}

.kmt-header-break-point .header-main-layout-8 .ss-content {
  overflow: hidden;
  width: auto;
}

.kmt-header-break-point .header-main-layout-8 .site-branding {
  padding-left: 20px;
}

.kmt-header-break-point .header-main-layout-8 .kmt-mobile-menu-buttons {
  padding-right: 20px;
}

.kmt-header-break-point.kemet-main-header8-align-left, .kmt-header-break-point.kemet-main-header8-align-right {
  padding: 0px;
}

.kmt-header-break-point .header-main-layout-8.search-icon .kmt-sitehead-custom-menu-items .kmt-search-container, .kmt-header-break-point .header-main-layout-6.search-icon .kmt-sitehead-custom-menu-items .kmt-search-container {
  width: fit-content;
  margin: auto;
}

.kmt-header-break-point .header-main-layout-8.search-icon .kmt-sitehead-custom-menu-items .kmt-search-container .kmt-search-menu-icon, .kmt-header-break-point .header-main-layout-6.search-icon .kmt-sitehead-custom-menu-items .kmt-search-container .kmt-search-menu-icon {
  left: 30px;
}

.kmt-header-break-point .header-main-layout-8.search-icon .kmt-sitehead-custom-menu-items .kmt-search-container .kmt-dropdown-active, .kmt-header-break-point .header-main-layout-6.search-icon .kmt-sitehead-custom-menu-items .kmt-search-container .kmt-dropdown-active {
  left: 0;
}

.kmt-header-break-point .header-main-layout-8 .main-header-bar-wrap, .kmt-header-break-point .header-main-layout-6 .main-header-bar-wrap {
  width: 100%;
  border: 0px !important;
}

.kmt-header-break-point .header-main-layout-8 .ss-wrapper, .kmt-header-break-point .header-main-layout-6 .ss-wrapper {
  position: initial;
  margin: 0px;
  height: auto;
}
