/* Custom Style */
.kmt-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.kmt-modal {
  position: fixed;
  width: 550px;
  height: auto;
  max-height: 80vh;
  max-width: 1000px;
  overflow: hidden;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  transform: translate(-50%, -50%);
  animation: components-modal__appear-animation 0.1s ease-out;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

.kmt-item-setting-modal .customize-control-title,
.kmt-item-setting-modal .toggle-control-label {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #2d3748;
  color: #2d3748;
}
.kmt-item-setting-modal
  .customize-control-kmt-select
  .customize-control-content {
  min-width: 200px;
}
.kmt-item-setting-modal .customize-control-kmt-select,
.kmt-item-setting-modal .customize-control-kmt-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kmt-item-setting-modal .customize-control-kmt-tabs {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 calc(50px * -1);
}

.kmt-item-setting-modal .current-tab-options {
  padding: 0 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
.kmt-item-setting-modal .kmt-button {
  display: block;
  color: var(--buttonColor);
  background-color: var(--buttonBgColor);
  border: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 27px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
  outline: 0;
}

.kmt-item-setting-modal .modal-actions {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 10px;
  padding: 1.5em 4.5%;
}

.kmt-item-setting-modal .kmt-create-post {
  display: flex;
  justify-content: center;
  text-align: center;
}
.kmt-item-setting-modal .kmt-button:hover,
.kmt-button:focus {
  box-shadow: none;
  outline: none;
}

.kmt-item-setting-modal .kmt-button.secondary {
  border: 1px solid #cbccce;
  --buttonColor: #2d3747;
  --buttonBgColor: #f4f6f5;
}

.kmt-item-setting-modal .kmt-button.secondary:hover {
  --buttonBgColor: #e0e1e4;
  --buttonBorderColor: #e0e1e4;
}

.kmt-item-setting-modal .kmt-button:hover {
  color: var(--buttonColor);
}

.kmt-item-setting-modal .kmt-button.primary {
  --buttonColor: #ffffff;
  --buttonBgColor: #2d3747;
}

.kmt-item-setting-modal .kmt-button.primary:hover {
  --buttonBgColor: #4a5568;
}
.kmt-item-setting-modal .kmt-modal-footer {
  border-top: 1px solid #ddd;
}
.kmt-item-setting-modal .kmt-modal-header {
  margin: 0 0 2em 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.kmt-item-setting-modal .kmt-modal-content {
  display: flex;
  flex-direction: column;
  max-height: calc(80vh - 50px * 5);
  padding: 0 50px;
}
.kmt-item-setting-modal
  .customize-control-kmt-tabs
  .current-tab-options
  > div:first-child {
  margin-top: 25px;
}
.kmt-item-setting-modal
  .customize-control-kmt-tabs
  .current-tab-options
  > div:last-child {
  margin-bottom: 25px;
}
.kmt-item-setting-modal .customize-control-kmt-title .customize-control-title {
  display: block;
  line-height: 1.75;
  font-weight: 600;
  padding: 10px 50px;
  margin: 0 -51px;
}
.kmt-item-setting-modal .kmt-modal-header h2 {
  margin: 0;
  line-height: 1.75;
  font-size: 17px;
  padding: 1.1em 0 1.1em 4.5%;
}
.kmt-item-setting-modal .has-divider::before {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid #dcdcde;
}
.kmt-item-setting-modal .kmt-close-modal {
  cursor: pointer;
  color: #717a84;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.85em 4%;
  border-left: 1px solid #ccc;
}
.kmt-item-setting-modal .kmt-close-modal:hover {
  opacity: 1;
}
.select2-container {
  z-index: 999999;
}

.kmt-item-setting-modal .modal-actions .dashicon {
  animation: rotate 2s linear infinite;
}

.kmt-item-setting-modal .current-tab-options {
  padding: 15px 50px 0px 50px;
}
.kmt-item-setting-modal .current-tab-options .kmt-slider-units,
.kmt-item-setting-modal .current-tab-options .kmt-spacing-responsive-units {
  display: none;
}
.kmt-item-setting-modal .customize-control-kmt-tabs > ul > li.active {
  background-color: #ffffff !important;
}
.kmt-item-setting-modal .customize-control-kmt-tabs > ul > li {
  background-color: #f7f7f7;
}
.kmt-item-setting-modal .customize-control-kmt-tabs > .current-tab-options {
  border-color: #e5e5e5;
}
.kmt-item-setting-modal .customize-control-kmt-title .customize-control-title {
  background-color: #f3f3f3;
}
.kmt-option-modal {
  --modalWidth: 300px !important;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.kmt-item-setting-modal .select2-container--default .select2-selection--single {
  border: 1px solid #dcdddf;
  border-radius: 0 !important;
  font-size: 14px;
  line-height: 2;
  color: #2c3338;
  box-shadow: none;
  min-height: 30px;
  max-width: 25rem;
  -webkit-appearance: none;
  background: #fff
    url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E)
    no-repeat right 5px top 55%;
  background-size: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 24px 0 8px;
  margin: 0 1px;
  width: 100%;
  height: 30px;
}
.kmt-item-setting-modal
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none !important;
}
.kmt-item-setting-modal
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0;
}
.kmt-mega-menu-select2.select2-dropdown {
  left: 1px;
  border-radius: 0;
  --select2-border-color: #dcdddf;
  border-color: var(--select2-border-color);
}
.kmt-mega-menu-select2 .select2-search--dropdown .select2-search__field {
  border-color: var(--select2-border-color) !important;
}
