/*--------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
#site-navigation .kemet-megamenu-item .kemet-megamenu > li {
  float: left;
}

#site-navigation .kemet-megamenu-item .kemet-megamenu > li > a {
  border: none;
}

#site-navigation .kemet-megamenu-item .kemet-megamenu.col-1 > li {
  width: 100%;
}

#site-navigation .kemet-megamenu-item .kemet-megamenu.col-2 > li {
  width: 50%;
}

#site-navigation .kemet-megamenu-item .kemet-megamenu.col-3 > li {
  width: 33.33333333%;
}

#site-navigation .kemet-megamenu-item .kemet-megamenu.col-4 > li {
  width: 25%;
}

#site-navigation .kemet-megamenu-item .kemet-megamenu.col-5 > li {
  width: 20%;
}

#site-navigation .kemet-megamenu-item .kemet-megamenu.col-6 > li {
  width: 16.66666667%;
}
