/*--------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
.kmt-disable-link {
  pointer-events: none;
}

.main-navigation .kemet-megamenu {
  display: grid;
  grid-template-columns: var(--gridTemplateColummns, 1fr);
}

.main-navigation .kemet-megamenu.col-1 {
  --gridTemplateColummns: minmax(0, 1fr);
}

.main-navigation .kemet-megamenu.col-2 {
  --gridTemplateColummns: repeat(2, minmax(0, 1fr));
}

.main-navigation .kemet-megamenu.col-3 {
  --gridTemplateColummns: repeat(3, minmax(0, 1fr));
}

.main-navigation .kemet-megamenu.col-4 {
  --gridTemplateColummns: repeat(4, minmax(0, 1fr));
}

.main-navigation .kemet-megamenu.col-5 {
  --gridTemplateColummns: repeat(5, minmax(0, 1fr));
}

.main-navigation .kemet-megamenu.col-6 {
  --gridTemplateColummns: repeat(6, minmax(0, 1fr));
}

.main-navigation .kemet-megamenu > li:not(:last-child) {
  border-right: var(--columnDivider);
}

.main-navigation .kemet-megamenu > li > a {
  border-bottom: none !important;
}

.main-navigation .kemet-megamenu > li .sub-menu li > a {
  border-top: var(--itemDivider);
  border-bottom: none;
}

.main-navigation .kemet-megamenu .heading-item {
  font-weight: 700;
  font-size: 1.1em;
}

.main-navigation .kemet-megamenu .kmt-svg-icon.icon-dropdown-menu {
  display: none;
}

.main-navigation .kemet-megamenu .kemet-mega-menu-content {
  padding: 0.9em 1em;
}

.main-navigation li.menu-item > a .kmt-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  vertical-align: middle;
}

.main-navigation li.menu-item > a .kmt-icon.dashicons {
  width: var(--iconSize, 15px);
  height: var(--iconSize, 15px);
  font-size: var(--iconSize, 15px);
  color: var(--iconColor, var(--linksColor));
}

.main-navigation li.menu-item > a .kmt-icon svg {
  position: relative;
  width: var(--iconSize, 15px);
  height: var(--iconSize, 15px);
  fill: var(--iconColor, var(--linksColor));
  transition: var(--iconTransition, fill 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955));
}

.main-navigation li.menu-item > a:hover .kmt-icon.dashicons {
  color: var(--iconColor, var(--linksHoverColor));
}

.main-navigation li.menu-item.has-description.menu-item-has-children > a {
  display: flex;
  flex-direction: column;
}

.main-navigation li.menu-item.has-description.menu-item-has-children > a:after {
  display: none;
}

.main-navigation li.menu-item .kemet-mega-menu-label {
  font-size: 0.7em;
  margin-left: 10px;
  line-height: normal;
  padding: 3px 6px;
  border-radius: 2px;
}

.main-navigation li.menu-item span.kemet-menu-decription {
  line-height: 12px;
  font-size: 12px;
  opacity: 0.6;
  text-align: center;
  display: block;
  margin-top: -12px;
}

body:not(.kmt-header-break-point) #sitehead.header-main-layout-5 .main-header-bar > div, body:not(.kmt-header-break-point) #sitehead.header-main-layout-6 .main-header-bar > div, body:not(.kmt-header-break-point) #sitehead.header-main-layout-7 .main-header-bar > div {
  overflow: hidden;
}

body:not(.kmt-header-break-point) #sitehead.header-main-layout-5 #site-navigation li:hover > .mega-menu-full-wrap, body:not(.kmt-header-break-point) #sitehead.header-main-layout-6 #site-navigation li:hover > .mega-menu-full-wrap, body:not(.kmt-header-break-point) #sitehead.header-main-layout-7 #site-navigation li:hover > .mega-menu-full-wrap {
  position: static;
  top: 0;
  left: 0;
}

body:not(.kmt-header-break-point) #sitehead.header-main-layout-5 #site-navigation .kemet-megamenu, body:not(.kmt-header-break-point) #sitehead.header-main-layout-6 #site-navigation .kemet-megamenu, body:not(.kmt-header-break-point) #sitehead.header-main-layout-7 #site-navigation .kemet-megamenu {
  overflow: hidden;
}

body:not(.kmt-header-break-point) #sitehead.header-main-layout-5 #site-navigation .kemet-megamenu li, body:not(.kmt-header-break-point) #sitehead.header-main-layout-6 #site-navigation .kemet-megamenu li, body:not(.kmt-header-break-point) #sitehead.header-main-layout-7 #site-navigation .kemet-megamenu li {
  width: 100%;
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade-move li ul.kemet-megamenu ul {
  transition: none;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade-move li > .mega-menu-full-wrap {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  opacity: 0;
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade-move li > .mega-menu-full-wrap > ul.kemet-megamenu {
  transition: none;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade-move li:hover > .mega-menu-full-wrap {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade li ul.kemet-megamenu ul {
  transition: none;
  opacity: 1;
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade li > .mega-menu-full-wrap {
  opacity: 0;
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade li > .mega-menu-full-wrap > ul.kemet-megamenu {
  transition: none;
  opacity: 1;
}

body:not(.kmt-header-break-point) .main-header-menu.submenu-fade li:hover > .mega-menu-full-wrap {
  opacity: 1;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .mega-menu-full-wrap {
  z-index: 99999;
  position: absolute;
  left: -999em;
  background: #fff;
  overflow: hidden;
  border-top-style: solid;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .mega-menu-full-wrap .sub-menu {
  border-top: none;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .mega-menu-full-wrap .kemet-megamenu {
  position: relative;
  top: 0;
  left: 0;
  box-shadow: none;
  margin: 0 auto;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item:hover .kemet-megamenu > li {
  display: block;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .kemet-megamenu {
  overflow: hidden;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .kemet-megamenu ul {
  background: none;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .kemet-megamenu .menu-item-has-children > a > span::after {
  display: none;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .kemet-megamenu .sub-menu {
  position: static;
  width: 100%;
  margin: auto;
  border: none;
  box-shadow: none;
}

body:not(.kmt-header-break-point) #site-navigation .kemet-megamenu-item .kemet-megamenu .sub-menu li .sub-menu {
  padding-left: 24px;
}

.kmt-header-break-point #site-navigation li.menu-item.has-description.menu-item-has-children > a > span.kemet-menu-decription:after {
  display: none;
}

.kmt-header-break-point #site-navigation li.menu-item span.kemet-menu-decription {
  display: none;
}

.kmt-header-break-point #site-navigation .kemet-megamenu-item .mega-menu-full-wrap {
  position: static;
}

.kmt-header-break-point #site-navigation .kemet-megamenu-item .kemet-megamenu > li {
  width: 100%;
}

.kmt-header-break-point #site-navigation .kemet-megamenu-item .kemet-megamenu > li > ul.sub-menu li a {
  padding-left: 30px;
}

.kmt-header-break-point #site-navigation .kemet-megamenu-item .kemet-megamenu > li > ul.sub-menu li a::before {
  content: "-";
}
