body:not(.kmt-separate-container){
    .blog-post-layout-5{
        padding-bottom: 2em;
    }
} 

.blog-layout-5{
    &.kmt-img-left{
        .post-content{
            flex-direction: row;
        }
        .blog-post-layout-5{
            .kmt-blog-featured-section{
                margin-right: 20px;
            }
        }  
    }
    &.kmt-img-right{
        .post-content{
            flex-direction: row-reverse;
        }
        .blog-post-layout-5{
            .kmt-blog-featured-section{
                margin-left: 20px;
            }
        }  
    }
    .blog-post-layout-5{
        padding-bottom: 2em;
        .post-content{
            display: flex;
        }
        &.kmt-no-thumb{
            .kmt-blog-featured-section{
                margin: 0;
            }
        }
        .entry-content{
            flex: auto;
        }
        .kmt-blog-featured-section{
            margin-bottom: 20px;
            flex: auto;
        }
    }
}