.blog-layout-5{
    .blog-post-layout-5{
        .entry-header{
            width: 50%;
            margin-bottom: 0;
            background-color: #dadada;
            .kmt-blog-featured-section , .kmt-default-featured-section{
                height: 570px;
                width: 100%;
                background-position: center center;
                background-size: cover;
                position: relative;
                margin-bottom: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .kmt-default-featured-section{
            &:before{
                font-family: dashicons;
                content: "\f109";
                line-height: 120px;
                width: 120px;
                height: 120px;
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                background-color: #f7f7f7;
                text-align: center;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                border-radius: 68px;
                color: #D3D3D3;
            }
        }
        .post-content{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            padding: 15px 40px;
        }
    }
    .kmt-article-post{
        .blog-post-layout-5{
            display: flex;
        }
        &:nth-of-type(odd){
            .blog-post-layout-5{
                flex-direction: row-reverse;
            }
        }
        &:nth-of-type(even){
            .blog-post-layout-5{
                flex-direction: row;
            }
        }
    }
}
.blog-layout-5{
    .kmt-article-post{
        padding: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    .blog-layout-5{
        .kmt-article-post{
            padding: 0 15px 15px 15px;
            .blog-post-layout-5{
                display: block;
            }
            .blog-post-layout-5{
                .entry-header{
                    width: 100%;
                }
                .post-content{
                    width: 100%;
                    padding: 20px 10px 20px 10px;
                    display: block;
                }
            }
        } 
    }
  }