/*--------------------------------------------------------------
## kemet Panel
--------------------------------------------------------------*/
.toplevel_page_kemet_panel [class*="notice"] {
  display: none !important;
}

.kmt-button {
  display: inline-block;
  color: var(--buttonColor);
  background-color: var(--buttonBgColor);
  border: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.kmt-button:hover {
  color: var(--buttonColor);
}

.kmt-button.primary {
  --buttonColor: #ffffff;
  --buttonBgColor: #2d3747;
}

.kmt-button.primary:hover {
  --buttonBgColor: #4a5568;
}

.kmt-button.secondary {
  --buttonColor: #2d3747;
  --buttonBgColor: #f4f5f6;
}

.kmt-button.secondary:hover {
  --buttonBgColor: #e0e1e4;
  --buttonBorderColor: #e0e1e4;
}

.toplevel_page_kemet_panel #wpwrap,
.toplevel_page_kemet_panel #wpcontent,
.toplevel_page_kemet_panel #wpbody {
  height: 100%;
  min-height: 100%;
}

.toplevel_page_kemet_panel #wpbody-content {
  height: 100%;
}

.toplevel_page_kemet_panel #wpfooter {
  display: none;
}

.toplevel_page_kemet_panel #wpbody-content {
  background-color: #fff;
  padding-bottom: 0;
}

.toplevel_page_kemet_panel #wpbody {
  padding-bottom: 0;
}

#kmt-dashboard {
  margin: auto;
  margin-right: -20px;
  padding-bottom: 20px;
  background-color: #fff;
  color: #2d3747;
  font-size: 14px;
  min-height: 100%;
}

#kmt-dashboard .options-section.customize-site-options .option-actions > a {
  margin-right: 0 !important;
}

#kmt-dashboard .options-section h2 {
  font-size: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#kmt-dashboard .options-section h2 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2d3747;
  margin-left: 10px;
}

#kmt-dashboard .options-section.advanced-options {
  margin-top: 70px;
}

#kmt-dashboard .kmt-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

#kmt-dashboard .kmt-panel-header > a {
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
  padding: 20px 30px;
}

#kmt-dashboard .components-panel__body {
  margin-top: 40px;
}

#kmt-dashboard .kmt-options {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

#kmt-dashboard .kmt-options .option-card {
  display: flex;
  padding: 40px;
  height: 100%;
  box-sizing: border-box;
  border: 1px dashed #eee;
}

#kmt-dashboard .kmt-options .option-card .kmt-control-title {
  font-size: 17px !important;
}

#kmt-dashboard .kmt-options .option-card .customize-control-description {
  margin: 0;
  font-size: 14px;
  margin-top: 15px;
  color: #2d3747 !important;
}

#kmt-dashboard .kmt-options .option-card .option {
  display: grid;
  row-gap: 20px;
  flex: 1;
}

#kmt-dashboard .kmt-options .option-card .option > .option-actions {
  display: flex;
  align-items: flex-end;
}

#kmt-dashboard .kmt-options .option-card .option > .option-actions > a {
  color: var(--buttonColor);
  line-height: normal;
  transition: none;
  --buttonColor: #2d3747;
  margin-right: 10px;
}

#kmt-dashboard .kmt-options .option-card .option > .option-actions > a:hover {
  --buttonBgColor: #e0e1e4;
}

#kmt-dashboard .kmt-options .option-card [class*="customize-control"] {
  flex: 1;
}

#kmt-dashboard .kmt-options > div {
  margin-top: 0;
  border: 1px dashed #eee;
}

#kmt-dashboard .kemet-dashboard-tab-panel {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 400px;
  position: relative;
}

#kmt-dashboard .components-tab-panel__tabs,
#kmt-dashboard .components-panel,
#kmt-dashboard .components-panel__body {
  border: 0;
}

#kmt-dashboard .components-tab-panel__tabs {
  border-bottom: 1px solid #eee;
  height: auto;
  overflow: visible;
}

#kmt-dashboard .components-tab-panel__tabs .components-tab-panel__tabs-item {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2d3747 !important;
}

#kmt-dashboard .components-tab-panel__tabs .components-tab-panel__tabs-item.active-tab, #kmt-dashboard .components-tab-panel__tabs .components-tab-panel__tabs-item:hover {
  font-weight: 500;
}

#kmt-dashboard .components-tab-panel__tabs .components-tab-panel__tabs-item.active-tab::after, #kmt-dashboard .components-tab-panel__tabs .components-tab-panel__tabs-item:hover::after {
  height: 3px;
  bottom: -2px;
  background-color: #2d3747;
  opacity: 1;
  transform: scaleX(1);
}

#kmt-dashboard .components-tab-panel__tabs .components-tab-panel__tabs-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: visible;
  transform: scaleX(0);
  transition: opacity 0.25s ease-out, transform 0.36s cubic-bezier(0.51, 0.5, 0.07, 0.99);
}

#kmt-dashboard .components-tab-panel__tabs-item {
  background: none !important;
  border: 0;
  line-height: 4;
  height: auto;
  box-shadow: none !important;
  flex: none;
  font-size: 15px;
}

#kmt-dashboard #system-info table:not(:first-child) {
  margin-top: 25px;
}

#kmt-dashboard #system-info table.widefat {
  border: 0px;
  box-shadow: none;
}

#kmt-dashboard #system-info table.widefat tr:nth-child(even) {
  background-color: #f7f7f7;
}

#kmt-dashboard #system-info table.widefat td:first-child {
  width: 30%;
}

#kmt-dashboard .kmt-plugins-list {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}

#kmt-dashboard .kmt-plugins-list li {
  display: grid;
  row-gap: 20px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px dashed #eee;
  margin: 0;
}

#kmt-dashboard .kmt-plugins-list li .kmt-plugin-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#kmt-dashboard .kmt-plugins-list li .kmt-plugin-icon .kmt-loader {
  font-weight: bold;
}

#kmt-dashboard .kmt-plugins-list li .kmt-plugin-title {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 15px;
}

#kmt-dashboard .kmt-plugins-list li .kmt-plugin-description {
  margin: 0;
  font-size: 14px;
  margin-top: 15px;
  color: #2d3747;
}
