/*--------------------------------------------------------------
## Custom Font
--------------------------------------------------------------*/
#kmt-custom-fonts-meta .kmt-options {
  width: 100%;
}

#kmt-custom-fonts-meta #fonts-repeater .components-panel__row {
  padding: 0 40px;
}

#kmt-custom-fonts-meta #fonts-repeater .repeater-action {
  margin-top: 20px;
}

#kmt-custom-fonts-meta #fonts-repeater .components-panel__body-toggle.components-button:focus {
  box-shadow: none;
}

#kmt-custom-fonts-meta .kmt-options > div {
  padding: 1.8em 0;
  margin-top: 0;
  overflow: hidden;
}

#kmt-custom-fonts-meta .kmt-options > div:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

#kmt-custom-fonts-meta .kmt-options > div.customize-control-kmt-title .customize-control-title {
  margin: 0;
  line-height: 1.75;
  font-weight: 600;
}

#kmt-custom-fonts-meta .kmt-options > div .customize-control-title {
  width: 18%;
  padding: 0 0 0 2%;
  float: right;
}

#kmt-custom-fonts-meta .kmt-options > div .customize-control-description {
  margin-bottom: 0;
  color: #848484 !important;
  font-size: 12px;
}

#kmt-custom-fonts-meta .kmt-options > div .customize-control-content {
  width: 80%;
  float: left;
}

#kmt-custom-fonts-meta .kmt-options > div .kmt-select-input {
  width: auto;
}

#kmt-custom-fonts-meta .kmt-options > div.customize-control-kmt-upload .customize-control-content > div {
  display: flex;
  align-items: center;
}

#kmt-custom-fonts-meta .kmt-options > div.customize-control-kmt-upload .customize-control-content input {
  margin-left: 5px;
  padding: 3px;
}

#kmt-custom-fonts-meta .kmt-options > div input[type="text"] {
  width: 25em;
  line-height: 2;
  min-height: 30px;
  padding: 5px;
}

#kmt-custom-fonts-meta .kmt-options > div input[type="text"][readonly] {
  background-color: #fff;
}

.components-panel__body > .components-panel__body-title {
  background: #f9f9f9;
}
