/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Header
--------------------------------------------------------------*/
.sticky-custom-logo-link {
  display: none;
}

.kmt-is-sticky {
  position: fixed;
  width: 100%;
}

.kmt-is-sticky .sticky-custom-logo-link {
  display: inline-block;
}

.kmt-is-sticky .main-header-bar {
  background-color: transparent;
}

.kmt-is-sticky .custom-logo-link {
  display: none;
}

.kmt-is-sticky .sticky-custom-logo {
  display: block;
}

.kmt-is-sticky .kemet-top-header-wrap {
  display: none;
}

.sticky-custom-logo {
  display: none;
}

/* Sticky Header Responsive */
@media only screen and (max-width: 480px) {
  .sticky-hide-mobile.kmt-is-sticky {
    position: relative !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .sticky-hide-tablet.kmt-is-sticky {
    position: relative !important;
  }
}

@media only screen and (max-width: 767px) {
  .sticky-hide-tablet-mobile.kmt-is-sticky {
    position: relative !important;
  }
}
