.header-main-layout-8{
    .header9-logo-menu{
        display: flex;
        align-items: center;
    }
    .main-header-container{
        text-align: center;
        position: relative;
        left: -30px;
        opacity: 0;
        &.side-header{
            left: 0;
            opacity: 1;
        }
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .inline-icon-menu-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .inline-logo-menu{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &.vertical-separator{
            .site-branding{
                display: flex;
                align-items: center;
                &:after{
                    content: "";
                    display: inline-block;
                    height: 25px;
                    width: 2px;
                    margin: 0 35px;
                }
            }
        }
        .site-branding{
            position: relative;
        }
        .menu-icon-social{
            position: relative;
            z-index: 99;
        }
    }
}
.menu-icon-header-8{
    .menu-icon{
        background-color: #F0F0F0;
    }
}
.kmt-header-break-point{
    .header-main-layout-8{
        .main-header-container{
            opacity: 1;
            left: 0;
            width: 100%;
        }
        .inline-icon-menu-header{
            display: block;
        }
        .vertical-separator{
            .site-branding{
                &:after{
                    display: none;
                }
            }
        }
        .mobile-icon-outside-menu{
            display: flex;
        }
    }
}