.admin-bar {
    &.header-main-layout-6 {
        .main-header-bar-wrap {
        margin-top: 33px;
        }
    }
}
.header-main-layout-6 {
    .main-header-bar-navigation{
        width: 100%;
    }
    .main-header-bar-wrap {
        position: fixed;
        top: 0;
        max-width: 100%;
        height: 100%;
        border-bottom: none;
        z-index: 100;
    }
    .kmt-site-identity {
        padding: 60px 0px;
    }
    #site-navigation {
        display: block;
        li{
            width: 100%;
            display: block;
            float: none;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            &:hover{
                > .sub-menu{            
                    position: static;
                }
                >a{
                    &:after{
                        transform: rotateX(180deg) !important;
                    }
                }
            } 
            ul{
                li{
                    &:hover{
                        >a{
                            &:after{
                                transform: rotateX(180deg) !important;
                            }
                        }
                    }
                    &.menu-item-has-children{
                        width: 80%;
                        margin: auto;
                        >a{
                            position: static;
                            &:after{
                                top: inherit;
                                transform: translate(0,0%);
                            }
                        }
                    }
                }
            }       
        }
        li:last-child {
            border-bottom: 0px;
        }
        .sub-menu {
            width: 100%;
        }
        
    }
    .kmt-sitehead-custom-menu-items {
        display: block;
        text-align: center;
    }
    &.has-box-shadow.header6-align-right{
        .main-header-bar-wrap {
            box-shadow: -2px 0 4px 2px rgba(0,0,0,.15);
        }
    }
    &.has-box-shadow.header6-align-left{
        .main-header-bar-wrap {
            box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
        }
    }
    &.header6-align-right{
        .main-header-bar-wrap {
            right: 0;
        }
    }
    &.header6-align-left{
        .main-header-bar-wrap {
            left: 0;
        }
    }
    
    .main-header-container {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .main-navigation,
    .kmt-main-header-bar-alignment {
        width: 100%;
        text-align: center;
    }
}
.kmt-header-break-point{
    &.kemet-main-header6-align-left, &.kemet-main-header6-align-right {
        padding: 0px;
    }
    .search-icon{
        #site-navigation{
            .kmt-search-menu-icon{
                right: auto;
            }
            form{
                &:before{
                    right: 85% !important;
                }
            }
        }   
    }
    
    .header-main-layout-6{
        .main-header-bar-wrap {
            width: 100% ;
            border: 0px !important; 
            }
            &.search-icon{
                #site-navigation{
                    .kmt-search-menu-icon{
                        right: 36% !important;
                        @media (max-width: 767px) {
                            right: 32% !important;
                        }
                    }
                }
            }
        }
        .ss-wrapper {
        position: initial;
        margin: 0px;
        height: auto;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,.15) !important;
        }
        
        .main-header-container{
            display: flex !important;
        }
        .menu-icon-social{
            display: none !important;
        }
        .main-header-container{
            flex-direction: row;
            display: flex;
            
        }
        .site-branding{
            margin-top: 0;
        }
        .kmt-site-identity{
            padding: 0;
        }
        .ss-content{
            width: auto;
            overflow: hidden;
        }
        .site-branding{
            padding-left: 20px;
        }
     
    .kmt-mobile-menu-buttons{
        padding-right: 20px;
    }
}

.top-bar-search-box{
    .kemet-top-header-section{
        .kmt-search-icon{
            display: none;
        }
            .kmt-search-menu-icon{
                width: 250px;
                visibility: visible;
                opacity: 1;
                position: relative;
                display: block;
                transform: none;
                right: auto;
                left: 0;
            .search-submit{
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                padding: 0 1em;
                -webkit-border-radius: 0;
                border-radius: 0;
                border: 0;
            }
            .search-field {
                width: 100%;
                margin: 0
            }
            .search-form {
                padding: 0;
                display: block;
                overflow: hidden;
                box-shadow: none;
            }
        }
    }
}

.top-bar-search-icon{
    .kemet-top-header-section{
        .kmt-search-icon{
            display: block;
        }
        .kmt-search-menu-icon{
            z-index: 10;
            .search-submit{
                display: none;
            }
        }
    }   
}
.search-box{
    #site-navigation{
        .kmt-search-icon{
            display: none;
        }
        .kmt-search-container {
            width: 250px;
            margin: auto;
        }
        .kmt-search-menu-icon{
                width: 250px;
                visibility: visible;
                opacity: 1;
                position: relative;
                display: block;
                transform: none;
                right: 0;
            .search-submit{
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                padding: 0 1em;
                -webkit-border-radius: 0;
                border-radius: 0;
                border: 0;
            }
            .search-field {
                width: 100%;
                margin: 0
            }
            .search-form {
                padding: 0;
                display: block;
                overflow: hidden;
                box-shadow: none;
            }
        }
    }    
}
.search-icon{
    &.header-main-layout-6 , &.header-main-layout-8{
        #site-navigation{
            .kmt-search-menu-icon{
                right: auto;
            form{
                &:before{
                    right: 40% !important;
                    left: auto;
                }
            }
        }
        } 
    }
    #site-navigation{
        .kmt-search-icon{
            display: block;
        }
        .kmt-search-menu-icon{ 
            right: 30px;
            .search-submit{
                display: none;
            }
            form{
                &:before{
                    right: 5%;
                }
            }
        }
        .kmt-dropdown-active{
            visibility: visible;
            opacity: 1;
            right: 0;
        }
    } 
}
.search-box-shadow{
    .kmt-search-menu-icon{
        form{
            box-shadow: 0 3px 13px 0 rgba(0,0,0,.2);
        }
    }
}
