.admin-bar {
    &.header-main-layout-6 {
        .main-header-bar-wrap {
        margin-top: 33px;
        }
    }
}
.header-main-layout-6 {
    .main-header-bar-wrap {
        width: 300px;
        position: fixed;
        top: 0;
        max-width: 100%;
        height: 100%;
        border-bottom: none;
        z-index: 100;
        left: 0px;
    }
    .kmt-site-identity {
        padding: 60px 0px;
    }
    #site-navigation {
        display: block;
        li {
            width: 100%;
            display: block;
            float: none;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
        li:last-child {
            border-bottom: 0px;
        }
        .sub-menu {
            display: none;
            position: relative;
            top: 0;
            width: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.03);
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    .main-header-container {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .main-navigation,
    .kmt-main-header-bar-alignment {
        width: 100%;
        text-align: center;
    }
    .kmt-menu-toggle {
        display: inline-block;
        position: absolute;
        font-size: inherit;
        top: -1px;
        right: 20px;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0 .907em;
        font-weight: 400;
        line-height: inherit;
        -webkit-transition: all .2s;
        transition: all .2s;
    }
    .kmt-menu-toggle::before {
        font-weight: 700;
        content: "\e900";
        font-family: Kemet-font;
        text-decoration: inherit;
        display: inline-block;
    }
    .kmt-submenu-expanded > .kmt-menu-toggle::before {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    .menu-item-has-children > a::after {
        //display: none !important;
    }

}