/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## WooCommerce
--------------------------------------------------------------*/
/*------------------------------------------------------------------
Woo Quick View
-------------------------------------------------------------------*/
/* infinite scroll */
.kmt-woo-load-more {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.kmt-woo-load-more .woo-load-more-text {
  display: inline-block;
}

.kmt-woo-load-more .woo-infinite-scroll-end-msg {
  display: none;
  margin: 0;
}

.kmt-woo-infinite-scroll-loader {
  margin-top: 20px;
  text-align: center;
  clear: both;
}

.kmt-woo-infinite-scroll-loader .woo-infinite-scroll-end-msg {
  display: none;
  margin: 0;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-infinite-scroll-dots {
  font-size: 12px;
  position: relative;
  width: 3.5em;
  height: 1em;
  margin: 0 auto;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-loader {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(1), .kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(2) {
  right: 0;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(3) {
  right: 1.3em;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(4) {
  right: 2.6em;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(1) {
  animation-name: reveal;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(2), .kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(3) {
  animation-name: slide;
}

.kmt-woo-infinite-scroll-loader .kmt-woo-loader:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(-1.3em);
  }
}

#kmt-qv-content {
  overflow: hidden;
}

#kmt-qv-content .product .entry-summary {
  overflow-y: auto;
}

.kemet-shop-thumbnail-wrap .product-list-img,
.kemet-shop-thumbnail-wrap .product-list-details {
  position: relative;
}

.kemet-shop-thumbnail-wrap .product-list-img .kmt-qv-on-image,
.kemet-shop-thumbnail-wrap .product-list-details .kmt-qv-on-image {
  transition: 0.3s all linear;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  display: block;
  text-align: center !important;
  opacity: 0;
  visibility: hidden;
}

.kemet-shop-thumbnail-wrap .product-list-details:hover .kmt-qv-on-image {
  opacity: 1;
  visibility: visible;
}

.kemet-shop-thumbnail-wrap:hover .product-list-img .kmt-qv-on-image {
  opacity: 1;
  visibility: visible;
}

.hover-style .kemet-shop-thumbnail-wrap:hover .yith-wcwl-add-to-wishlist .add_to_wishlist {
  color: var(--buttonColor);
}

.hover-style .kemet-shop-thumbnail-wrap:hover .yith-wcwl-add-to-wishlist:hover {
  background-color: var(--buttonBackgroundHoverColor);
}

.kmt-qv-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  left: -5em;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s all;
  text-align: center;
  border-width: 2px;
  border-style: solid;
}

.kmt-qv-icon span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}

.kmt-qv-icon span svg {
  width: 20px;
  height: 20px;
}

.product-list-details:hover > .kmt-qv-icon {
  left: 25px;
  opacity: 1;
}

.woocommerce .products .product-inner:hover .kmt-quick-view,
.woocommerce-page .products .product-inner:hover .kmt-quick-view,
.products .product-inner:hover .kmt-quick-view {
  opacity: 1;
  visibility: visible;
}

.kmt-qv-overlay.loading:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-right-color: #fff;
  z-index: 99;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -ms-animation: qv-spin 0.6s infinite linear;
  -webkit-animation: qv-spin 0.6s infinite linear;
  -o-animation: qv-spin 0.6s infinite linear;
  -moz-animation: qv-spin 0.6s infinite linear;
  animation: qv-spin 0.6s infinite linear;
}

.kmt-qv-overlay.loading:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  visibility: visible;
  z-index: 11;
}

@-webkit-keyframes qv-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes qv-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#kmt-qv-wrap {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

#kmt-qv-wrap div.product {
  padding: 0 !important;
}

#kmt-qv-wrap div.product div.images {
  margin-bottom: 0;
}

#kmt-qv-wrap a.added_to_cart {
  padding: 2px 5px 2px 5px;
  text-decoration: underline;
}

#kmt-qv-wrap,
#kmt-qv-wrap .kmt-close-qv {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#kmt-qv-wrap .kmt-close-qv {
  cursor: pointer;
}

#kmt-qv-wrap span.price {
  display: block;
}

#kmt-qv-wrap .star-rating {
  float: none;
}

#kmt-qv-wrap .kmt-qv-image,
#kmt-qv-wrap .summary {
  width: 50%;
}

#kmt-qv-wrap .kmt-qv-image {
  position: relative;
}

#kmt-qv-wrap .kmt-qv-slides,
#kmt-qv-wrap .flex-control-nav,
#kmt-qv-wrap .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#kmt-qv-wrap .kmt-qv-slides {
  display: inline-block;
  vertical-align: top;
}

#kmt-qv-wrap .summary {
  padding: 30px;
  margin: 0;
}

#kmt-qv-wrap .flex-viewport {
  float: none;
  width: 100%;
}

#kmt-qv-wrap img {
  display: block;
  width: 100%;
  height: auto;
}

#kmt-qv-wrap .flex-control-nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#kmt-qv-wrap .flex-control-nav li {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  line-height: 1;
  z-index: 10;
}

#kmt-qv-wrap .flex-control-nav li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid #111;
  opacity: 0.4;
  text-indent: -9999px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#kmt-qv-wrap .flex-control-nav li a:hover {
  opacity: 0.7;
}

#kmt-qv-wrap .flex-control-nav li a.flex-active {
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

#kmt-qv-wrap .flex-direction-nav a {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}

#kmt-qv-wrap .flex-direction-nav a:before {
  display: inline-block;
  font-family: dashicons;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#kmt-qv-wrap .flex-direction-nav a.flex-prev {
  right: -50px;
  text-align: left;
}

#kmt-qv-wrap .flex-direction-nav a.flex-prev:before {
  content: "\f341";
}

#kmt-qv-wrap .flex-direction-nav a.flex-next {
  left: -50px;
}

#kmt-qv-wrap .flex-direction-nav a.flex-next:before {
  content: "\f345";
}

#kmt-qv-wrap .kmt-qv-image:hover .flex-direction-nav a.flex-prev {
  opacity: 0.8;
  right: 10px;
}

#kmt-qv-wrap .kmt-qv-image:hover .flex-direction-nav a.flex-next {
  opacity: 0.8;
  left: 10px;
}

.kmt-qv-container {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  text-align: center;
  padding: 30px;
}

.kmt-qv-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.kmt-qv-open {
  overflow: hidden;
}

.kmt-qv-content-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  max-width: 100%;
  z-index: 1045;
  opacity: 0;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: transform 0.5s, opacity 0.3s;
  -moz-transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s;
}

.is-visible .kmt-qv-content-wrap {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.kmt-qv-content-inner {
  position: relative;
  background-color: #fff;
  max-width: 875px;
  margin: 0 auto;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-shadow: -3px 3px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -3px 3px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: -3px 3px 20px 0 rgba(0, 0, 0, 0.15);
}

.kmt-qv-content-inner .kmt-qv-close {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  color: var(--buttonColor);
  background-color: var(--buttonBackgroundColor);
  padding: 0.6em;
  text-align: center;
  z-index: 1001;
}

.kmt-qv-content-inner .kmt-qv-close .icon-close {
  display: inline-flex;
}

.kmt-qv-content-inner .kmt-qv-close .icon-close svg {
  width: 10px;
  height: 10px;
}

.kmt-qv-content-inner .kmt-qv-close:hover {
  color: var(--buttonHoverColor, var(--buttonColor));
  background-color: var(--buttonBackgroundHoverColor, var(--buttonBackgroundColor));
}

.kmt-qv-content-inner .product {
  margin: 0;
}

.kmt-qv-content-inner select {
  padding: 0 12px;
}

.kmt-qv-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.kmt-qv-overlay.visible {
  visibility: visible;
}

#kmt-qv-content a.woocommerce-review-link {
  display: none;
}

@media screen and (max-width: 850px) {
  #kmt-qv-wrap .kmt-qv-image,
  #kmt-qv-wrap .summary {
    width: 100%;
  }
  .kmt-qv-container:before {
    display: none;
  }
}

/************ Shop ************/
.woo-style2 ul.products li.product {
  --backgroundColor: var(--paletteColor6);
  background-color: var(--backgroundColor);
  overflow: hidden;
  transition: box-shadow 0.4s;
}

.woo-style2 ul.products li.product .product-summary {
  overflow: visible;
}

.woo-style2 ul.products li.product .product-summary {
  padding: 14px 20px;
  transition: transform 0.4s;
}

.woo-style2 ul.products li.product:hover .product-summary[data-style="button"] {
  transform: translateY(-65px);
}

.woo-style2 ul.products li.product:hover .product-summary[data-style="text"] {
  transform: translateY(-40px);
}

.woo-style2 ul.products li.product:hover {
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
}

.woo-style2 ul.products li.product:hover .kemet-shop-product-buttons {
  transform: none;
  opacity: 1;
}

.woo-style2 ul.products li.product:hover .product-summary {
  background-color: var(--backgroundColor);
}

.woo-style2 ul.products li.product .product-summary[data-style="button"] .kemet-shop-product-buttons {
  display: flex;
  align-items: center;
}

.woo-style2 ul.products li.product .product-summary[data-style="button"] .kemet-shop-product-buttons > .add_to_cart_button,
.woo-style2 ul.products li.product .product-summary[data-style="button"] .kemet-shop-product-buttons > .added_to_cart,
.woo-style2 ul.products li.product .product-summary[data-style="button"] .kemet-shop-product-buttons > .product_type_grouped {
  margin-left: auto;
}

.woo-style2 ul.products li.product .product-summary[data-style="button"] .kemet-shop-product-buttons .added_to_cart {
  color: var(--buttonColor);
  background-color: var(--buttonBackgroundColor);
  padding: var(--padding, 0.6em 1em);
}

.woo-style2 ul.products li.product .product-summary[data-style="button"] .kemet-shop-product-buttons .added_to_cart:hover {
  color: var(--buttonHoverColor, var(--buttonColor));
  background-color: var(--buttonBackgroundHoverColor, var(--buttonBackgroundColor));
}

.woo-style2 ul.products li.product .product-summary[data-style="text"] .kemet-shop-product-buttons .added_to_cart {
  position: absolute;
  right: 0;
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons {
  padding-top: 15px;
  position: absolute;
  right: 20px;
  left: 20px;
  height: auto;
  opacity: 0;
  transform: translateY(50%);
  transition: 0.4s;
  text-align: left;
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons a:not(.button.add_to_cart),
.woo-style2 ul.products li.product .kemet-shop-product-buttons .yith-wcwl-wishlistexistsbrowse {
  position: relative;
  color: var(--linksColor);
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons a:not(.button.add_to_cart):hover,
.woo-style2 ul.products li.product .kemet-shop-product-buttons .yith-wcwl-wishlistexistsbrowse:hover {
  color: var(--linksHoverColor);
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons .add_to_wishlist {
  transition: inherit;
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons .add_to_wishlist > span {
  display: none;
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons .added {
  display: none;
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons .yith-wcwl-add-to-wishlist {
  display: inline-block;
  margin-right: 10px;
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons .yith-wcwl-add-to-wishlist .yith-wcwl-icon {
  font-size: 24px;
}

.woo-style2 ul.products li.product .kemet-shop-product-buttons > :first-child {
  float: right;
}

.woo-style2 ul.products li.product.product-type-grouped:hover .kemet-shop-product-buttons {
  transform: translateY(0);
}

@media (min-width: 922px) {
  .woocommerce .product.kmt-gallary-vertical.kmt-product-has-v-gallary .onsale,
  .woocommerce-page .product.kmt-gallary-vertical.kmt-product-has-v-gallary .onsale {
    right: calc(10.5% + 25px);
  }
}

.woocommerce ul.products.load-ajax,
.woocommerce-page ul.products.load-ajax {
  position: relative;
}

.woocommerce ul.products.load-ajax:before,
.woocommerce-page ul.products.load-ajax:before {
  content: "";
  z-index: 2;
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  top: 200px;
  right: 50%;
  margin-right: -20px;
  -webkit-animation: circle-loading 0.35s linear infinite;
  -o-animation: circle-loading 0.35s linear infinite;
  animation: circle-loading 0.35s linear infinite;
  border-top-color: #fff;
}

.woocommerce ul.products.load-ajax:after,
.woocommerce-page ul.products.load-ajax:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  visibility: visible;
  display: block;
  width: 100%;
  z-index: 11;
}

.woocommerce ul.products li .compare.button,
.woocommerce-page ul.products li .compare.button {
  display: none;
}

@keyframes circle-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@media (min-width: 922px) {
  .kmt-article-single.kmt-gallary-vertical div.images.woocommerce-product-gallery .flex-viewport {
    overflow: hidden;
    position: relative;
    height: 281px;
    float: left;
    width: 75%;
  }
  .kmt-article-single.kmt-gallary-vertical div.images.woocommerce-product-gallery .flex-control-thumbs {
    float: right;
    width: calc(25% - 1em);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .kmt-article-single.kmt-gallary-vertical div.images.woocommerce-product-gallery .flex-control-thumbs li {
    width: 100%;
  }
}

.kmt-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
}

.kmt-toolbar > p.woocommerce-result-count {
  margin-bottom: 0;
}

.kmt-toolbar form.woocommerce-ordering {
  margin: 0;
  margin-right: auto;
}

.kmt-woo-filter {
  float: right;
  border: 1px solid var(--borderColor);
  padding: 0 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  line-height: 2.5;
}

.kmt-woo-filter .icon-menu {
  display: inline-flex;
}

.kmt-woo-filter .icon-menu svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.admin-bar #kmt-off-canvas-wrap {
  margin-top: 32px;
}

#kmt-off-canvas-wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#kmt-off-canvas-wrap.side-off-canvas-filter {
  opacity: 1;
  visibility: visible;
}

#kmt-off-canvas-wrap .kmt-off-canvas-sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #fff;
  width: 300px;
  height: 100%;
  padding: 30px;
  overflow: auto;
  z-index: 9999;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#kmt-off-canvas-wrap .kmt-off-canvas-sidebar.side-off-canvas-filter {
  right: 0;
}

#kmt-off-canvas-wrap .kmt-close-filter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

#kmt-off-canvas-wrap .kmt-off-canvas-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.woocommerce .woocommerce-cart-form .quantity,
.woocommerce form.cart .quantity,
.woocommerce-page .woocommerce-cart-form .quantity,
.woocommerce-page form.cart .quantity {
  display: flex;
  float: right;
}

.woocommerce .woocommerce-cart-form .quantity > a,
.woocommerce form.cart .quantity > a,
.woocommerce-page .woocommerce-cart-form .quantity > a,
.woocommerce-page form.cart .quantity > a {
  width: 38px;
  -js-display: flex;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  outline: 0;
}

.woocommerce .woocommerce-cart-form .quantity .plus,
.woocommerce form.cart .quantity .plus,
.woocommerce-page .woocommerce-cart-form .quantity .plus,
.woocommerce-page form.cart .quantity .plus {
  border-right-width: 0;
  margin-left: 6px;
}

.woocommerce .woocommerce-cart-form .quantity .minus,
.woocommerce form.cart .quantity .minus,
.woocommerce-page .woocommerce-cart-form .quantity .minus,
.woocommerce-page form.cart .quantity .minus {
  border-left-width: 0;
}

.woocommerce .woocommerce-cart-form .quantity input::-webkit-outer-spin-button,
.woocommerce .woocommerce-cart-form .quantity input::-webkit-inner-spin-button,
.woocommerce form.cart .quantity input::-webkit-outer-spin-button,
.woocommerce form.cart .quantity input::-webkit-inner-spin-button,
.woocommerce-page .woocommerce-cart-form .quantity input::-webkit-outer-spin-button,
.woocommerce-page .woocommerce-cart-form .quantity input::-webkit-inner-spin-button,
.woocommerce-page form.cart .quantity input::-webkit-outer-spin-button,
.woocommerce-page form.cart .quantity input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.woocommerce .woocommerce-cart-form .quantity .qty,
.woocommerce form.cart .quantity .qty,
.woocommerce-page .woocommerce-cart-form .quantity .qty,
.woocommerce-page form.cart .quantity .qty {
  width: 2.631em;
  min-height: 46px;
  -moz-appearance: textfield;
}
