/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Blog Layout 1
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Blog Layout 2
--------------------------------------------------------------*/
.blog-layout-2 .content-area .post-content {
  border: 1px solid #E3E3E3;
}

.blog-layout-2 .content-area .post-content .post-thumb-img-content img {
  width: 100%;
}

.blog-layout-2 .content-area .post-content .entry-header {
  padding-top: 15px;
}

.blog-layout-2 .content-area .post-content .entry-header, .blog-layout-2 .content-area .post-content .entry-content {
  padding-right: 15px;
  padding-left: 15px;
}
