/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Blog Layout 1
--------------------------------------------------------------*/
.post-thumb-img-content {
  position: relative;
}

.post-thumb-img-content .overlay-image {
  height: 100%;
  top: 0;
  transition: all 0.3s linear 0s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.post-thumb-img-content .overlay-image .overlay-color {
  width: 100%;
  height: 100%;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
}

.post-thumb-img-content .overlay-image .post-details {
  width: 100%;
  text-align: center;
}

.post-thumb-img-content .overlay-image .enlarge, .post-thumb-img-content .overlay-image .post-link {
  position: relative;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 5px;
  transition: all 0.3s linear 0s;
}

.post-thumb-img-content .overlay-image .enlarge {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

.post-thumb-img-content .overlay-image .enlarge:before {
  content: "\e90d";
  font-family: Kemet-font;
  font-style: normal;
  font-size: 18px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  font-weight: 500;
}

.post-thumb-img-content .overlay-image .post-link {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
}

.post-thumb-img-content .overlay-image .post-link:before {
  content: "\f103";
  font-family: "dashicons";
  font-style: normal;
  font-size: 18px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  font-weight: 500;
}

.post-thumb-img-content:hover > .overlay-image {
  opacity: 1;
  visibility: visible;
}

.post-thumb-img-content:hover > .overlay-image .enlarge, .post-thumb-img-content:hover > .overlay-image .post-link {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/*--------------------------------------------------------------
## Blog Layout 2
--------------------------------------------------------------*/
.blog-layout-2 .kmt-article-post {
  padding: 0 10px 20px;
  margin-bottom: 0;
}

.blog-layout-2 .blog-post-layout-2 {
  border: 1px solid #E3E3E3;
}

.blog-layout-2 .blog-post-layout-2 .post-content img {
  width: 100%;
}

.blog-layout-2 .blog-post-layout-2 .post-content .entry-header {
  padding-top: 15px;
}

.blog-layout-2 .blog-post-layout-2 .post-content .kmt-blog-featured-section {
  margin-bottom: 0;
}

.blog-layout-2 .blog-post-layout-2 .post-content .entry-header, .blog-layout-2 .blog-post-layout-2 .post-content .entry-content {
  padding-right: 15px;
  padding-left: 15px;
}

.kmt-separate-container .blog-layout-2 .kmt-article-post {
  padding: 0 10px 20px;
}

/*--------------------------------------------------------------
## Blog Layout 3
--------------------------------------------------------------*/
.blog-layout-3 .kmt-article-post.has-post-thumbnail .kmt-blog-featured-section img {
  width: 100%;
}

.blog-layout-3 .kmt-article-post.has-post-thumbnail .post-content {
  margin: -50px 30px 20px;
  position: relative;
}

.blog-layout-3 .kmt-article-post .entry-content {
  padding-top: 22px;
  border-top: 1px solid #eee;
}

.blog-layout-3 .kmt-article-post .post-content {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #eee;
}

/* Blog Responsive */
@media only screen and (max-width: 480px) {
  .blog-layout-3 .kmt-article-post.has-post-thumbnail .post-content {
    margin: 0;
  }
}

/*--------------------------------------------------------------
## Blog Layout 4
--------------------------------------------------------------*/
.blog-layout-4 .blog-post-layout-4 .entry-header {
  width: 50%;
  margin-bottom: 0;
  background-color: #dadada;
}

.blog-layout-4 .blog-post-layout-4 .entry-header .kmt-blog-featured-section, .blog-layout-4 .blog-post-layout-4 .entry-header .kmt-default-featured-section {
  height: 570px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
}

.blog-layout-4 .blog-post-layout-4 .entry-header .kmt-blog-featured-section img, .blog-layout-4 .blog-post-layout-4 .entry-header .kmt-default-featured-section img {
  width: 100%;
  height: 100%;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section {
  position: relative;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image {
  height: 100%;
  top: 0;
  transition: all 0.3s linear 0s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .overlay-color, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .overlay-color {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .post-details, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .post-details {
  width: 100%;
  text-align: center;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .enlarge, .blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .post-link, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .enlarge, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .post-link {
  position: relative;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 5px;
  transition: all 0.3s linear 0s;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .enlarge, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .enlarge {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .enlarge:before, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .enlarge:before {
  content: "\e90d";
  font-family: Kemet-font;
  font-style: normal;
  font-size: 18px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  font-weight: 500;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .post-link, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .post-link {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section .overlay-image .post-link:before, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section .overlay-image .post-link:before {
  content: "\f103";
  font-family: "dashicons";
  font-style: normal;
  font-size: 18px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  font-weight: 500;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section:hover > .overlay-image, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section:hover > .overlay-image {
  opacity: 1;
  visibility: visible;
}

.blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section:hover > .overlay-image .enlarge, .blog-layout-4 .blog-post-layout-4 .kmt-blog-featured-section:hover > .overlay-image .post-link, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section:hover > .overlay-image .enlarge, .blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section:hover > .overlay-image .post-link {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.blog-layout-4 .blog-post-layout-4 .kmt-default-featured-section:before {
  font-family: dashicons;
  content: "\f109";
  line-height: 120px;
  width: 120px;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  background-color: #f7f7f7;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 68px;
  color: #D3D3D3;
}

.blog-layout-4 .blog-post-layout-4 .post-content {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 15px 40px;
}

.blog-layout-4 .kmt-article-post .blog-post-layout-4 {
  display: flex;
}

.blog-layout-4 .kmt-article-post:nth-of-type(odd) .blog-post-layout-4 {
  flex-direction: row-reverse;
}

.blog-layout-4 .kmt-article-post:nth-of-type(even) .blog-post-layout-4 {
  flex-direction: row;
}

.blog-layout-4 .kmt-article-post {
  padding: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .blog-layout-4 .kmt-article-post {
    padding: 0 15px 15px 15px;
  }
  .blog-layout-4 .kmt-article-post .blog-post-layout-4 {
    display: block;
  }
  .blog-layout-4 .kmt-article-post .blog-post-layout-4 .entry-header {
    width: 100%;
  }
  .blog-layout-4 .kmt-article-post .blog-post-layout-4 .post-content {
    width: 100%;
    padding: 20px 10px 20px 10px;
    display: block;
  }
}
