.sticky-custom-logo-link
{
  display: none;
}

.kmt-is-sticky {
  position: fixed;
  width: 100%;
    .sticky-custom-logo-link
    {
      display: inline-block;
    }
    .main-header-bar {
      background-color: transparent;
    }
    .custom-logo-link {
      display: none;
    }
    .sticky-custom-logo {
      display: block;
    }
    .kemet-top-header-wrap {
      display: none;;
    }
}
.sticky-custom-logo {
  display: none;
}

/* Sticky Header Responsive */
@media only screen and (max-width: 480px) {
  .sticky-hide-mobile.kmt-is-sticky
  {
    position: relative !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .sticky-hide-tablet.kmt-is-sticky
  {
    position: relative !important;
  }
}
  
@media only screen and (max-width: 767px) {
  .sticky-hide-tablet-mobile.kmt-is-sticky
  {
    position: relative !important;
  }
}
