.widget_mailchimp{
    .mailchimp-form{
        .kmt-mailchimp-form{
            div:first-child{
                margin: 20px 0;
            }
            input[name=email]{
                width: 100%;
                padding: 16px 45px 16px 15px;
                &:focus{
                    outline: none;
                }
            }
            span{
                //color: $color-error;
                &.alert{
                    display: none;
                &.visible{
                    display: block;
                }    
                }
            }
            div{
                &.alert{
                    // &.success{
                    //     color: $color_success;
                    // }
                    // &.error{
                    //     color: $color-error;
                    // }
                    display: none;
                &.visible{
                    display: block;
                } 
                }

            }
        } 
    }
}

.kmt-social-profiles{
    display: flex;
    flex-wrap: wrap;
    .kmt-profile-link{
        display: block;
        .profile-title{
            display: inline-block;
        }
        .profile-icon{
            height: 2em;
            width: 2em;
            display: inline-block;
            color: #fff;
            background-color: inherit;
            font-size: 20px;
            text-align: center;
        }
        .dashicons, .dashicons-before:before{
            width: unset;
            height: unset;
            font-size: inherit;
            line-height: inherit;
        }
    }
}


