.widget_mailchimp{
    .mailchimp-form{
        .kmt-mailchimp-form{
            div:first-child{
                margin: 20px 0;
            }
            input[name=email]{
                width: 100%;
                padding: 16px 45px 16px 15px;
                &:focus{
                    outline: none;
                }
            }
            span{
                //color: $color-error;
                &.alert{
                    display: none;
                &.visible{
                    display: block;
                }    
                }
            }
            div{
                &.alert{
                    // &.success{
                    //     color: $color_success;
                    // }
                    // &.error{
                    //     color: $color-error;
                    // }
                    display: none;
                &.visible{
                    display: block;
                } 
                }

            }
        } 
    }
}

.kmt-social-profiles{
    display: flex;
    flex-wrap: wrap;
    &.simple{
        .kmt-profile-link{
            line-height: 1;
            .profile-icon{
                height: 1em;
                width: 1em;
            }
        }
    }
    &.circle-outline , &.square-outline{
        .kmt-profile-link{
            .profile-icon{
                border-width: 1px;
                border-style: solid;
                border-color: #00000033;
                background: transparent;
            }
        }   
    }
    &.circle-outline , &.circle{
        .kmt-profile-link{
            .profile-icon{
                border-radius: 50%;
            }
        }
    }
    .kmt-profile-link{
        display: block;
        line-height: 2;
        .profile-title{
            display: inline-block;
        }
        .profile-icon{
            height: 2em;
            width: 2em;
            display: inline-block;
            color: #fff;
            background-color: inherit;
            font-size: 15px;
            text-align: center;
        }
        .dashicons, .dashicons-before:before{
            width: unset;
            height: unset;
            font-size: inherit;
            line-height: inherit;
        }
    }
}


