/********************** mailchimp widget **********************/
.mailchimp-form{
    div:first-child{
        margin: 20px 0;
    }
    input[type=submit].button{
        display: block;
    }
    input[name=email]{
        width: 100%;
        padding: 16px 45px 16px 15px;
        &:focus{
            outline: none;
        }
    }
    span{
        color: $color-error;
        &.alert{
            display: none;
        &.visible{
            display: block;
        }    
        }
    }
    div{
        &.alert{
            &.success{
                color: $color_success;
            }
            &.error{
                color: $color-error;
            }
            display: none;
        &.visible{
            display: block;
        } 
        }

    }
}
/********************** social widget **********************/
.kmt-social-profiles{
    display: flex;
    flex-wrap: wrap;
    &.simple{
        .kmt-profile-link{
            line-height: 1;
            .profile-icon{
                height: 1em;
                width: 1em;
            }
        }
    }
    &.circle-outline , &.square-outline{
        .kmt-profile-link{
            .profile-icon{
                border-width: 1px;
                border-style: solid;
                background: transparent;
            }
        }   
    }
    &.circle-outline , &.circle{
        .kmt-profile-link{
            .profile-icon{
                border-radius: 50%;
            }
        }
    }
    .kmt-profile-link{
        display: block;
        line-height: 2;
        margin-bottom: 5px;
        .profile-title{
            display: inline-block;
        }
        .profile-icon{
            height: 2em;
            width: 2em;
            display: inline-block;
            background-color: inherit;
            font-size: 15px;
            text-align: center;
        }
        .dashicons, .dashicons-before:before{
            width: unset;
            height: unset;
            font-size: inherit;
            line-height: inherit;
        }
    }
}
/********************** posts in images widget **********************/
.wgt-img {
    margin: 0px 9px 9px 0px;
    padding: 0px;
    float: left;
    img {
        border-width: 1px;
        border-style: solid;
        padding: 2px;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        opacity: inherit;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        -o-box-sizing: content-box;
        box-sizing: content-box;
    }
    &:hover{
        img {
            opacity: .6;
            -webkit-box-shadow: 0 0 2px rgb(102, 102, 102);
            -moz-box-shadow: 0 0 2px rgb(102, 102, 102);
            -ms-box-shadow: 0 0 2px rgb(102, 102, 102);
            -o-box-shadow: 0 0 2px rgb(102, 102, 102);
            box-shadow: 0 0 2px rgb(102, 102, 102);
        }
    }
}
.kfw-widget-posts-images{
    .wgt-img{
        margin: 0 10px 0 0;
    }
}
/********************** posts list widget **********************/
.kfw-widget-posts-list{
    .kmt-wdg-posts-list{
        margin: 0px;
        list-style: none;
        li{
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding: 10px 0px 10px 0;
            overflow: hidden;
            list-style: none;
            margin-bottom: 0px !important;
            .wgt-img{
                margin: 0 10px 0 0;
            }
            .wdg-posttitle{
                line-height: 1;
            }
        }
    }
}
/********************** login form widget **********************/
.kfw-widget-login-form{
    input[type=text] , input[type=password]{
        width: 100%;
    }
    p{
        margin-bottom: 1em;
    }
}
/********************** flickr widget **********************/
.flickr-images{
    display: inline-block;
    .flickr_badge_image{
        margin: 0px 9px 9px 0px;
        display: inline-block;
        width: 56px;
        height: 56px;
    }
}
/********************** tags widget **********************/
.post-tags {
    overflow: hidden;
    .label{
        background-color: transparent;
        background: none;
        border-width: 1px;
        border-style: solid;
        float: left;
        white-space: nowrap;
        font-size: 13px;
        font-weight: normal;
        line-height: 22px;
        margin: 0 10px 10px 0;
        display: block;
        padding: .2em .6em .3em;
        text-align: center;
    }
}
/********************** tabs widget **********************/
#secondary{
    .kmt-tabs-titles{
        li{
            margin: 0px .2em 0 0;
            margin-bottom: .2em;
        }
    }
}
.kmt-posts-tabs{
    .kmt-tabs-titles{
        overflow: hidden;
        li{
            float: left;
            padding: .5em 1em;
            text-decoration: none;
            font-size: 17px;
            border-width: 1px;
            border-style: solid;
            border-bottom: 0;
            cursor: pointer;
        }
    }
    .kmt-tab{
        display: none;
        padding: 1em 1.4em;
        border-width: 1px;
        border-style: solid;
        li{
            overflow: hidden;
            padding: 10px 0px;
        }
        li:not(:last-child){
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
        &.active{
            display: block;
        }
    }   
}
/**************** Twitter Feed *************/
/***************************************************/
.tweets-container{
    > div:not(:last-child){
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}
.kmt-author-info{
    overflow: hidden;
    a{
        float: left;
        img{
            border-radius: 50%;
        }
    }
    span{
        float: left;
        margin-left: 10px;
    }
}
.kemet-social-feed {
    padding: 15px 0;
    &.hidden {
        background-color: red !important;
    }

    img {
        width: auto;
        width: auto\9;
        height: auto;
        border: 0;
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }
}

.kmt-feed-author-img img {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.kmt-social-content{
    > *:not(:last-child){
        margin: 0 0 15px 0;
    }
}
.kemet-social-feed {
    .attachment {
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
        width: 100%;
    }
    .kmt-feed-read-more{
        display: block;
        margin-top: 5px;
    }
    .kmt-feed-meta {
        margin-bottom: 4px;
        min-height: 20px;
        overflow: hidden;
        .kmt-feed-date{
            float: right;
        }
    }

    p.kmt-feed-text {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    overflow: hidden;

    .media-body {
        overflow: hidden;

        .premium-social-network-icon {
            margin-top: -3px;
            margin-right: 5px;
            width: 16px;
        }

        .kmt-feed-content-wrap {
            line-height: 20px;
            clear: both;
        }
    }

    &:first-child {
        margin-top: 0;
    }

    .media-object {
        display: block;
        width: 30px;
    }

    .media-heading {
        margin: 0 0 5px;
    }

    .media-list {
        margin-left: 0;
        list-style: none;
    }
}
/**************** Social Counter *************/
.kmt-social-counter{
    ul{
        li{
            float: left;
            line-height: 15px;
            width: 111px;
            overflow: hidden;
            padding-bottom: 15px;
            margin-bottom: 0px;
            a{
                transition: none;
                *{
                    transition: all 0.2s ease-in-out;
                }
                span{
                    display: block;
                }
                text-align: center;
                font-size: 13px;
                .count-icon{
                    float: left;
                    background-color: #F2F2F2;
                    -webkit-border-radius: 32px;
                    -moz-border-radius: 32px;
                    border-radius: 32px;
                    display: block;
                    height: 43px;
                    line-height: 43px;
                    font-size: 26px;
                    margin: 5px auto;
                    width: 43px;
                    border: 2px solid transparent;
                    &.dashicons-video-alt3{
                        color: rgb(204,24,30);
                    }
                    &.dashicons-facebook-alt{
                        color: rgb(57, 89, 159);
                    }
                }
            }
        }
    }
    
    .subscriber{
        display: block;
        float: left;
        line-height: 1.5;
        margin: 6px 0px 6px 6px;
        small{
            font-size: 85%;
        }
    }
}
/********************** widget style **********************/
.widget{
    overflow: hidden;
}
div.title {
    width: 100%;
    display: block;
    clear: both;
    position: relative;
    overflow: hidden;
}
.widget-title, h4.widget-title{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0px;
}
.widget-head {
    .widget-title{
        .dashicons{
            line-height: inherit;
        }
    }
}
/********************** widget style 2 **********************/
.kmt-widget-style2 .widget-title {
    padding: 3px 10px;
    float: left;
}
.kmt-widget-style2 div.title h4:after  {
    display: none;
}
/********************** widget style 3 **********************/
.kmt-widget-style3 .widget-content {
    padding: 10px 15px 10px;
    border: 1px solid;
    border-bottom: 2px solid;
}
.kmt-widget-style3 .counter-widget .widget-content {
    padding: 10px 7px 10px;
}
.kmt-widget-style3 .counter-widget .widget-content ul li {
    width: 120px;
}
/********************** widget style 4**********************/
.kmt-widget-style4 div.title h4:after {
    display: none;
}
.kmt-widget-style4 .widget-head .widget-title {
    padding: 8px 15px;
}
.kmt-widget-style4 .widget-title {
    margin: 0px;
}
/********************** widget style 5 **********************/
.kmt-widget-style5.widget {
    border: 1px solid;
}
.kmt-widget-style5 div.title h4:after {
    display: none;
}
.kmt-widget-style5 .widget-content {
    padding: 15px;
}
.kmt-widget-style5 .widget-title {
    padding: 15px;
}
/********************** widget style 6 **********************/
.kmt-widget-style6 .widget-head {
    text-align: center;
}
.kmt-widget-style6 div.title .widget-title {
    border-bottom: 2px solid;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    float: none;
    margin-right: 0px;
}
.kmt-widget-style6 .widget-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -2px;
    border: 3px solid transparent;
}
.kmt-widget-style6 div.title h4:after {
    display: none;
}
.kmt-widget-style6 > *{
    text-align: center;
}
/********************** widget style 7 **********************/
.kmt-widget-style7.widget {
    border: 1px solid transparent;
}
.kmt-widget-style7 div.title .widget-title {
    float: none;
    text-align: center;
}
.kmt-widget-style7 div.title .widget-title:after {
    content: '';
    position: relative;
    width: 30px;
    height: 2px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    background-image: none;
}
.kmt-widget-style7 .loginform .button-primary {
    margin: 0px auto;
}
.kmt-widget-style7 .widget_search form {
    text-align: center;
}
.kmt-widget-style7 .widget_kmt_mailchimp form {
    text-align: center;
}
.kmt-widget-style7 > *{
    text-align: center;
}
/********************** widget style 8 **********************/
.kmt-widget-style8 .widget-title {
    margin-bottom: 0px;
    float: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}