.toplevel_page_kemet_panel [class*="notice"] {
  display: none !important;
}
.kmt-button {
  display: inline-block;
  color: var(--buttonColor);
  background-color: var(--buttonBgColor);
  border: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: var(--buttonColor);
  }
  &.primary {
    --buttonColor: #ffffff;
    --buttonBgColor: #2d3747;
    &:hover {
      --buttonBgColor: #4a5568;
    }
  }
  &.secondary {
    --buttonColor: #2d3747;
    --buttonBgColor: #f4f5f6;
    &:hover {
      --buttonBgColor: #e0e1e4;
      --buttonBorderColor: #e0e1e4;
    }
  }
}
.toplevel_page_kemet_panel {
  #wpwrap,
  #wpcontent,
  #wpbody {
    height: 100%;
    min-height: 100%;
  }
  #wpbody-content {
    height: 100%;
  }
  #wpfooter {
    display: none;
  }
  #wpbody-content {
    background-color: #fff;
    padding-bottom: 0;
  }
  #wpbody {
    padding-bottom: 0;
  }
}
#kmt-dashboard {
  margin: auto;
  margin-left: -20px;
  padding-bottom: 20px;
  background-color: #fff;
  color: #2d3747;
  font-size: 14px;
  min-height: 100%;
  .options-section {
    &.customize-site-options {
      .option-actions {
        > a {
          margin-left: 0 !important;
        }
      }
    }
    h2 {
      font-size: 19px;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #2d3747;
        margin-right: 10px;
      }
    }
    &.advanced-options {
      margin-top: 70px;
    }
  }
  .kmt-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    > a {
      text-transform: uppercase;
      font-size: 17px;
      text-decoration: none;
      font-weight: 500;
      padding: 20px 30px;
    }
  }
  .components-panel__body {
    margin-top: 40px;
  }
  .kmt-card {
    display: flex;
    padding: 40px;
    height: 100%;
    box-sizing: border-box;
    border: 1px dashed #cdcdcd;
    .card-body {
      display: grid;
      row-gap: 20px;
      flex: 1;
    }
  }
  .kmt-options {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    .kmt-control-title {
      font-size: 17px !important;
    }
    .customize-control-description {
      margin: 0;
      font-size: 14px;
      margin-top: 15px;
      color: #2d3747 !important;
    }
    label {
      position: relative;
      .dashicon {
        position: absolute;
        top: 0;
        right: 0;
        animation: rotate 2s linear infinite;
      }
    }
    .card-body {
      > .option-actions {
        display: flex;
        align-items: flex-end;
        > a {
          color: var(--buttonColor);
          line-height: normal;
          transition: none;
          --buttonColor: #2d3747;
          &:hover {
            --buttonBgColor: #e0e1e4;
          }
          margin-left: 10px;
        }
      }
    }
    [class*="customize-control"] {
      flex: 1;
    }
    > div {
      margin-top: 0;
      border: 1px dashed #cdcdcd;
    }
  }
  .kemet-dashboard-tab-panel {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 400px;
    position: relative;
  }
  .components-tab-panel__tabs,
  .components-panel,
  .components-panel__body {
    border: 0;
  }
  .components-tab-panel__tabs {
    border-bottom: 1px solid #eee;
    height: auto;
    overflow: visible;
    .components-tab-panel__tabs-item {
      position: relative;
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      color: #7e848c !important;
      &.active-tab,
      &:hover {
        &::after {
          height: 3px;
          bottom: -2px;
          background-color: #2d3747;
          opacity: 1;
          transform: scaleX(1);
        }
      }
      &.active-tab {
        font-weight: 500;
        color: #2d3747 !important;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        opacity: 0;
        visibility: visible;
        transform: scaleX(0);
        transition: opacity 0.25s ease-out,
          transform 0.36s cubic-bezier(0.51, 0.5, 0.07, 0.99);
      }
    }
  }
  .components-tab-panel__tabs-item {
    background: none !important;
    border: 0;
    line-height: 4;
    height: auto;
    box-shadow: none !important;
    flex: none;
    font-size: 15px;
  }

  #system-info {
    table:not(:first-child) {
      margin-top: 25px;
    }
    table.widefat {
      border: 0px;
      box-shadow: none;
      tr:nth-child(even) {
        background-color: #f7f7f7;
      }
      td:first-child {
        width: 30%;
      }
    }
  }
  .kmt-plugins-list {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    .kmt-plugin-icon {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dashicon {
        animation: rotate 2s linear infinite;
      }
    }
    .kmt-plugin-title {
      font-size: 17px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .kmt-plugin-description {
      margin: 0;
      font-size: 14px;
      margin-top: 15px;
      color: #2d3747;
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
