/*------------------------------------------------------------------
Woo Quick View
-------------------------------------------------------------------*/

// Border radius
@mixin border-radius($args) {
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  -ms-border-radius: $args;
  border-radius: $args;
}

// Animation
@mixin animation($args) {
  -ms-animation: $args;
  -webkit-animation: $args;
  -o-animation: $args;
  -moz-animation: $args;
  animation: $args;
}

// Transform
@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

// Box Shadow
@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}
/* infinite scroll */
.kmt-woo-load-more {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  .woo-load-more-text {
    display: inline-block;
  }
  .woo-infinite-scroll-end-msg {
    display: none;
    margin: 0;
  }
}
.kmt-woo-infinite-scroll-loader {
  margin-top: 20px;
  text-align: center;
  clear: both;
  .woo-infinite-scroll-end-msg {
    display: none;
    margin: 0;
  }
  .kmt-woo-infinite-scroll-dots {
    font-size: 12px;
    position: relative;
    width: 3.5em;
    height: 1em;
    margin: 0 auto;
  }
  .kmt-woo-loader {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    &:nth-child(1),
    &:nth-child(2) {
      left: 0;
    }

    &:nth-child(3) {
      left: 1.3em;
    }

    &:nth-child(4) {
      left: 2.6em;
    }

    &:nth-child(1) {
      animation-name: reveal;
    }

    &:nth-child(2),
    &:nth-child(3) {
      animation-name: slide;
    }

    &:nth-child(4) {
      animation-name: reveal;
      animation-direction: reverse;
    }
  }
}
@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide {
  to {
    transform: translateX(1.3em);
  }
}
#kmt-qv-content {
  overflow: hidden;
  .product {
    .entry-summary {
      overflow-y: auto;
    }
  }
}
.kemet-shop-thumbnail-wrap {
  .product-list-img,
  .product-list-details {
    position: relative;
    .kmt-qv-on-image {
      transition: 0.3s all linear;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      display: block;
      text-align: center !important;
      opacity: 0;
      visibility: hidden;
    }
  }
  .product-list-details {
    &:hover {
      .kmt-qv-on-image {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &:hover {
    .product-list-img {
      .kmt-qv-on-image {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.hover-style {
  .kemet-shop-thumbnail-wrap {
    &:hover {
      .yith-wcwl-add-to-wishlist {
        .add_to_wishlist {
          // background-color: var(--buttonBackgroundColor);
          color: var(--buttonColor);
        }
        &:hover {
          background-color: var(--buttonBackgroundHoverColor);
        }
      }
    }
  }
}

.kmt-qv-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  right: -5em;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s all;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.product-list-details {
  &:hover {
    > .kmt-qv-icon {
      right: 25px;
      opacity: 1;
    }
  }
}
.woocommerce .products .product-inner:hover .kmt-quick-view,
.woocommerce-page .products .product-inner:hover .kmt-quick-view,
.products .product-inner:hover .kmt-quick-view {
  opacity: 1;
  visibility: visible;
}

.kmt-qv-overlay.loading {
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-left-color: #fff;
    z-index: 99;
    @include border-radius(50%);
    @include animation(qv-spin 0.6s infinite linear);
  }

  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    visibility: visible;
    z-index: 11;
  }
}

@-webkit-keyframes qv-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes qv-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#kmt-qv-wrap {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  div.product {
    div.images {
      margin-bottom: 0;
    }
    padding: 0 !important;
  }
  a.added_to_cart {
    padding: 2px 5px 2px 5px;
    text-decoration: underline;
  }
  &,
  .kmt-close-qv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .kmt-close-qv {
    cursor: pointer;
  }
  span.price {
    display: block;
  }
  .star-rating {
    float: none;
  }
  .kmt-qv-image,
  .summary {
    width: 50%;
  }
  .kmt-qv-image {
    position: relative;
  }
  .kmt-qv-slides,
  .flex-control-nav,
  .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .kmt-qv-slides {
    display: inline-block;
    vertical-align: top;
  }

  .summary {
    padding: 30px;
    margin: 0;
  }

  .flex-viewport {
    float: none;
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .flex-control-nav {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      margin: 0 5px;
      line-height: 1;
      z-index: 10;

      a {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 3px solid #111;
        opacity: 0.4;
        text-indent: -9999px;
        cursor: pointer;
        @include border-radius(50%);

        &:hover {
          opacity: 0.7;
        }

        &.flex-active {
          background: rgba(0, 0, 0, 0.9);
          cursor: default;
        }
      }
    }
  }

  .flex-direction-nav {
    a {
      position: absolute;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      overflow: hidden;
      cursor: pointer;
      z-index: 10;

      &:before {
        display: inline-block;
        font-family: dashicons;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &.flex-prev {
        left: -50px;
        text-align: right;

        &:before {
          content: "\f341";
        }
      }

      &.flex-next {
        right: -50px;

        &:before {
          content: "\f345";
        }
      }
    }
  }

  .kmt-qv-image:hover .flex-direction-nav a.flex-prev {
    opacity: 0.8;
    left: 10px;
  }

  .kmt-qv-image:hover .flex-direction-nav a.flex-next {
    opacity: 0.8;
    right: 10px;
  }
}

.kmt-qv-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding: 30px;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.kmt-qv-open {
  overflow: hidden;
}

.kmt-qv-content-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  max-width: 100%;
  z-index: 1045;
  opacity: 0;
  @include transform(translateY(-30px));
  -webkit-transition: transform 0.5s, opacity 0.3s;
  -moz-transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s;
}

.is-visible .kmt-qv-content-wrap {
  opacity: 1;
  @include transform(translateY(0));
}

.kmt-qv-content-inner {
  position: relative;
  background-color: #fff;
  max-width: 875px;
  margin: 0 auto;
  z-index: 1000;
  overflow: hidden;
  @include box-shadow(3px 3px 20px 0 rgba(0, 0, 0, 0.15));

  .kmt-qv-close {
    position: absolute;
    top: 0;
    right: 8px;
    color: #333;
    opacity: 0.5;
    font-weight: 300;
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 1001;

    &:hover {
      opacity: 1;
    }
  }

  .product {
    margin: 0;
  }

  select {
    padding: 0 12px;
  }
}

.kmt-qv-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}

#kmt-qv-content a.woocommerce-review-link {
  display: none;
}

@media screen and (max-width: 850px) {
  #kmt-qv-wrap .kmt-qv-image,
  #kmt-qv-wrap .summary {
    width: 100%;
  }

  .kmt-qv-container:before {
    display: none;
  }
}
/************ Shop ************/
.woo-style2 {
  ul.products {
    li.product {
      --backgroundColor: var(--paletteColor6);
      background-color: var(--backgroundColor);
      overflow: hidden;
      transition: box-shadow 0.4s;
      .product-summary {
        overflow: visible;
      }
      .product-summary {
        padding: 14px 20px;
        transition: transform 0.4s;
      }

      &:hover {
        .product-summary {
          &[data-style="button"] {
            transform: translateY(-65px);
          }
        }
      }
      &:hover {
        .product-summary {
          &[data-style="text"] {
            transform: translateY(-40px);
          }
        }
      }
      &:hover {
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.01);
        .kemet-shop-product-buttons {
          transform: none;
          opacity: 1;
        }
        .product-summary {
          background-color: var(--backgroundColor);
        }
      }
      .product-summary {
        &[data-style="button"] {
          .kemet-shop-product-buttons {
            display: flex;
            align-items: center;
            > .add_to_cart_button,
            > .added_to_cart {
              margin-right: auto;
            }
            .added_to_cart {
              color: var(--buttonColor);
              background-color: var(--buttonBackgroundColor);
              padding: var(--padding, 0.6em 1em);
              &:hover {
                color: var(--buttonHoverColor, var(--buttonColor));
                background-color: var(
                  --buttonBackgroundHoverColor,
                  var(--buttonBackgroundColor)
                );
              }
            }
          }
        }
      }
      .product-summary {
        &[data-style="text"] {
          .kemet-shop-product-buttons {
            .added_to_cart {
              position: absolute;
              left: 0;
            }
          }
        }
      }
      .kemet-shop-product-buttons {
        padding-top: 15px;
        position: absolute;
        left: 20px;
        right: 20px;
        height: auto;
        opacity: 0;
        transform: translateY(50%);
        transition: 0.4s;
        text-align: right;
        a:not(.button.add_to_cart),
        .yith-wcwl-wishlistexistsbrowse {
          --linksHoverColor: var(--linksColor);
        }
        .yith-wcwl-wishlistexistsbrowse {
          position: relative;
          color: var(--linksColor);
          &:hover {
            color: var(--linksHoverColor);
          }
        }
        .add_to_wishlist {
          transition: inherit;
          > span {
            display: none;
          }
        }
        .added {
          display: none;
        }
        .yith-wcwl-add-to-wishlist {
          display: inline-block;
          margin-left: 10px;
          .yith-wcwl-icon {
            font-size: 24px;
          }
        }
        > :first-child {
          float: left;
        }
      }
      &.product-type-grouped {
        &:hover {
          .kemet-shop-product-buttons {
            transform: translateY(100%);
          }
        }
      }
    }
  }
}
.woocommerce,
.woocommerce-page {
  .product {
    @media (min-width: 922px) {
      &.kmt-gallary-vertical {
        &.kmt-product-has-v-gallary {
          .onsale {
            left: calc(10.5% + 25px);
          }
        }
      }
    }
  }
  ul.products {
    &.load-ajax {
      position: relative;
      &:before {
        content: "";
        z-index: 2;
        position: absolute;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        height: 40px;
        width: 40px;
        top: 200px;
        left: 50%;
        margin-left: -20px;
        -webkit-animation: circle-loading 0.35s linear infinite;
        -o-animation: circle-loading 0.35s linear infinite;
        animation: circle-loading 0.35s linear infinite;
        border-top-color: #fff;
      }
      &:after {
        content: "";
        background-color: rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        visibility: visible;
        display: block;
        width: 100%;
        z-index: 11;
      }
    }
    li {
      .compare.button {
        display: none;
      }
    }
  }
}
@keyframes circle-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.kmt-article-single {
  @media (min-width: 922px) {
    &.kmt-gallary-vertical {
      div.images.woocommerce-product-gallery {
        .flex-viewport {
          overflow: hidden;
          position: relative;
          height: 281px;
          float: right;
          width: 75%;
        }
        .flex-control-thumbs {
          float: left;
          width: calc(25% - 1em);
          overflow-x: hidden;
          margin: 0;
          padding: 0;
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
.kmt-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
  > p.woocommerce-result-count {
    margin-bottom: 0;
  }
  form.woocommerce-ordering {
    margin: 0;
    margin-left: auto;
  }
}
.kmt-woo-filter {
  float: left;
  border: 1px solid var(--borderColor);
  padding: 0 20px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  line-height: 2.5;
  .icon-menu {
    display: inline-flex;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}
.admin-bar {
  #kmt-off-canvas-wrap {
    margin-top: 32px;
  }
}
#kmt-off-canvas-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  &.side-off-canvas-filter {
    opacity: 1;
    visibility: visible;
  }
  .kmt-off-canvas-sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #fff;
    width: 300px;
    height: 100%;
    padding: 30px;
    overflow: auto;
    z-index: 9999;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &.side-off-canvas-filter {
      left: 0;
    }
  }
  .kmt-close-filter {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
  }
  .kmt-off-canvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}
.woocommerce,
.woocommerce-page {
  .woocommerce-cart-form,
  form.cart {
    .quantity {
      display: flex;
      float: left;
      > a {
        width: 38px;
        -js-display: flex;
        display: flex;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        align-items: center;
        outline: 0;
      }
      .plus {
        border-left-width: 0;
        margin-right: 6px;
      }
      .minus {
        border-right-width: 0;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
        margin: 0;
      }
      .qty {
        width: 2.631em;
        min-height: 46px;
        -moz-appearance: textfield;
      }
    }
  }
}
