.kmt-display-on-specifics-select,
.kmt-hide-on-specifics-select {
  display: none;
  &.kfw-field {
    .kfw-fieldset {
      margin-top: 20px;
      margin-left: auto;
    }
    .kfw-title {
      float: none;
      width: auto;
    }
  }
}
.hide-on-rule,
.display-on-rule,
.kmt-user-rules {
  &.kfw-field-select {
    select {
      width: 100%;
    }
  }
}
.kemet-hook-custom-code {
  display: none;
  .kfw-title {
    float: none;
    width: auto;
    margin-bottom: 10px;
  }
  .kfw-fieldset {
    margin-left: auto;
  }
}
.kemet-code-editor {
  #post-body-content {
    > :not(#titlediv) {
      display: none;
    }
  }
  .kemet-hook-custom-code {
    display: block;
  }
}
