#kmt-custom-fonts-meta {
  .kmt-options > div {
    padding: 1.8em 0;
    margin-top: 0;
    overflow: hidden;
    &:not(:last-child) {
      border-bottom: 1px solid #e9e9e9;
    }
    .customize-control-title {
      width: 18%;
      padding: 0 2% 0 0;
      float: left;
    }
    .customize-control-description {
      margin-bottom: 0;
      color: #848484 !important;
      font-size: 12px;
    }
    .customize-control-content {
      width: 80%;
      float: right;
    }
    .kmt-select-input {
      width: auto;
    }
    &.customize-control-kmt-upload {
      .customize-control-content {
        > div {
          display: flex;
          align-items: center;
        }
        input {
          margin-right: 5px;
          padding: 3px;
        }
      }
    }
    input[type="text"] {
      width: 25em;
      line-height: 2;
      min-height: 30px;
      padding: 5px;
      &[readonly] {
        background-color: #fff;
      }
    }
  }
}
